<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">
      <div class="mt50"></div>
      <h2>Thank you <%= @pledge.user.first_name %> for your pledge payment and all you do for St. Paul's</h2>
      <div class="mt50"></div>
        <h3><%=link_to "<<Home Page", "/" %> </h3>
    </div>
  </div>
</div>
