<p> <%= @post.user.username.titleize %> has created a post in <em><strong>Family Ties</strong></em>, our <em>Facebook</em>-like chat center for members of St. Paul's. You may read it by logging in to the website and <%=link_to "clicking this link.", @url %>
</p>
<div class="mt-5"></div>
<p>This message is generated automatically when a post has been created for parishioners. </p>
