

<p> <%= @post.user.full_name %> has created a post in <em><strong>Family Ties</strong></em>. You may read it by logging in to the website and <%=link_to "clicking this link.", @url %>
</p>


<div class="mt100"></div>

<p>This message is generated automatically when a post has been created for members of St. Paul's. </p>

<h2>Would you like a quick tutorial on how to use the "Family Ties" social media page on our website? <%= link_to "Click here", "http://www.saintpaulsnaples.org/how_to_use" %></h2>