<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
      <h1>Welcome to the Saint Paul website, <%= @user.full_name.capitalize %></h1>
      <p> You have successfully signed up to saintpaulsnaples.org. Your user name is: <%= @user.login %>.<br>
      </p>
    
      <p>Thanks for joining and have a great day!</p>
      </body>
      </html>