<% commentable ||= @commentable %>
<% commentable.comments.each do |comment| %>
  <div id="comments"><div class="comment-body">
  <hr>
    <p><%= (comment.body) %></p>
    </div>
       <div class="comment-user"> <%= comment.user.full_name.titleize %>
        <small> made this comment 
        <%= time_ago_in_words(comment.created_at) %> ago. &nbsp;
  <% if current_user == comment.user %>
    <%= link_to "Delete comment", comment, 
    method: :delete, data: { confirm: "Are you sure?" } %> 
  <% end %>  
    </div>
    <div class="clearall"></div>
<% end %>
