<% commentable ||= @commentable %>
<% commentable.comments.each do |comment| %>
  <div id="comments" class="comments-body">
    <p><%= comment.body %>
  </div>  
      <div class="comments-user">
        <%= comment.user.full_name.titleize %>
        <span class="time-ago">
        <%= time_ago_in_words(comment.created_at) %> ago.
          <% if current_user == comment.user %>
            &nbsp;<%= link_to "Delete comment", post_comment_path(comment.commentable, comment), 
            method: :delete, data: { confirm: "Are you sure?" } %> 
           </span>
       <% end %>

      </div>
       <div class="mt30"></div>
       <% end %>

