<div id="comment-form">
  <%= simple_form_for [@comment.post, @comment] do |f| %>
    <%= f.input :body, label: "Add a comment", autofocus: true %> 
    <%= f.submit "submit", class: "btn btn-primary" %>
  <% end %>
</div>
