<div id="comment-form">
  <%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  
    <%= f.submit "Make comment" %>
  </p>
  <% end %>
</div>
