<div id="comment-form">
  <%= form_for([@post, @post.comments.create]) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  <% end %>
</div>
