<%= render @comments %>
<p><strong>
  <%= link_to "Add your comment", new_comment_path, class: 'btn btn-primary btn-xsm' %>
</strong></p>

<%# post.comments.each do |comment| %>
  <%# if comment.user.avatar.present? %>
    <%#= cl_image_tag(comment.user.avatar.path, { size: '55x60', 
          crop: :fill, gravity: :face, class: "floatleft" }) %>
      <%# else %>
        <!-- <div class="default-comment-avatar">Your<br>Photo<br>Here</div>-->
    <%# end %>
  <strong><%#= comment.user.full_name.titleize %><br></strong>
  <%#= comment.body %><br>
    <%#= link_to 'Show', [comment.post, comment] %> | <%#= link_to 'Edit', edit_post_comment_path(comment.post, comment) %> | <%#= link_to "Delete", [comment.post, comment], :confirm => "Are you sure?", method: :delete %> | <%#= link_to 'New comment', new_post_comment_path %><br>
<%# end %>
