<h3> Showing the comment</h3>

<p><strong>Commenter:</strong><br>
<%= @comment.user.full_name.titleize %>
<%= @comment.body %>
<br>
<!-- /posts/:post_id/comments/:id/edit -->
<%= link_to '<< Go back', posts_path %>
