<div class="container">
  <div class="row">
    <div class="col col-md col-6 col-md-offset-3 col-sm-12">
      <div class="mt50"></div>
      <h1>Pay your pledge on line</h1>
     
     <%= render 'form' %>
     </div>
  </div>  
</div>
