<div class="mt50"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12">
        <h1>Pay on line</h1>
        <p><strong>Please note:</strong> It is important your pledge card be on file at the church. This is separate from <em>paying</em> your pledge, which is the action you are taking now. Your pledge and this transaction are confidential and secure.</p>
          <p>There are a couple ways for you to simplify making payment to St. Paul's. The simplist&mdash;and cheapest!&mdash;way is to have your bank send a check to the church on a schedule you set.</p>
          <p>Most banks offer this service without charge, and it's easy to set up and very safe and secure. Just go on line with your bank and search for "bill pay" or other words to that effect. You could do this in person, too.</p>
          <p>Paying on line with a credit or debit card is easy to set up, too. It also is safe and secure. St. Paul's absorbs the transaction fees, which reduces your payment by about 3%.</p>
          <p>To pay with a card anyway, use this form:</p>
          <%= render 'form' %>

      </div>
    </div>
  </div>
