<div class="row mt-5">
  <div class="col-md-8 offset-md-2 col-sm-12">
    <h1>Automate your donations</h1>

    <p>There are a couple ways for you to simplify making payment to St. Paul's other than the offering plate. The
      simplest&mdash;and cheapest!&mdash;way is to have your bank send a check to the church on a schedule you set.</p>
    <p>Most banks offer this service without charge, and it's easy to set up and very safe and secure. Just go on line
      with your bank and search for "bill pay" or other words to that effect. You could do this in person, too. It would
      be prudent to call first, especially in this Covid-19 era.</p>
    <p>Paying on line with a <b>credit card</b> or <b>debit card</b> is easy to set up, too. It also is safe and secure.
      St. Paul's absorbs the transaction fees.</p>

  </div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3 mt-3">
    <%= render 'form' %>
  </div>
</div>