<div class="mt50"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1>Pay on line</h1>
        <p><strong>Please note:</strong> It is important your pledge card be on file at the church. This is separate from <em>paying</em> your pledge, which is the action you are taking now. Your pledge and this transaction are confidential and secure.</p>
          <p>There are a couple ways for you to simplify making payment to St. Paul's. The simplist&mdash;and cheapest!&mdash;way is to have your bank send a check to the church on a schedule you set.</p>
          <p>Most banks offer this service without charge, and it's easy to set up and very safe and secure. Just go on line with your bank and search for "bill pay" or other words to that effect. You could do this in person, too.</p>
          <p>Paying on line with a credit or debit card is easy to set up, too. It also is safe and secure. St. Paul's absorbs the transaction fees, which reduces your payment by about 3%.</p>
          <p><em>This feature of the website is still undergoing testing. Your webmaster (10 o'clocker Tom Connolly) hopes to have it up and running within a week.</em></p>
            <p>Meantime, please find your pledge card (you should have received it in the mail during the week of Jan. 6. If you didn't get one, please call the office!)</p>


          <!-- <p>To pay with a card, use this form:
          </p> -->
          <%#= render 'form' %>


      </div>
    </div>
  </div>
