<div class="mt50"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Pay on line</h1>
          <p>There are a couple ways for you to simplify making payment to St. Paul's. The simplist way is to have your bank send a check to the church on a schedule you set.</p>
          <p>Most banks offer this service without charge, and it's easy to set up and very safe and secure. Just go on line with your bank and search for "bill pay" or other words to that effect. You could do this in person, too.</p>
          <p>Paying on line with a credit or debit card is easy to set up, too. It also is safe and secure. St. Paul's absorbs the transaction fees, which reduces by about 3% your payment. To use this method, use this form:
          </p>
          <%= render 'form' %>


      </div>
    </div>
  </div>
