

   
   <h3>You have elected to contribute
    <%= number_to_currency@pledge.dollars %>
              
   <%= @pledge.plan %>.
   </h3>      
<p>If this is correct, select the "Pay" button. If not, return to the previous page</p>