<h2>Thanks very much on behalf of St. Paul's and the Todds!</h2>


<p>You can ignore the following information, used only for debugging the St. Paul's website.</p>

<%= debug @session %>
<%= debug @payment_intent %>