<h3 class="text-center">A draft of the minutes of our last vestry meeting has been posted by Charlene. 
<br> Please read it before our next meeting, as you will be asked to approve/amend it.<br>
<%= link_to "Click here to access this draft", @url %></h3>
<div class="mt-4 text-center">
  <small>This message is automatically sent to vestry members when a draft is posted.</small>
</div>
