<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <p id="notice"><%= notice %></p>

  <section>  
    <div class="create-story_idea">
    <% if current_user.avatar.present? %>
      <%= cl_image_tag(current_user.avatar.path, { size: '110x120', 
        crop: :fill, gravity: :face, class: "floatleft" }) %>
      <% else %>
      <div class="default-avatar"><h5>Your<br>Picture<br>
      Here</h5>
      </div>
    <% end %><br><br>
      <%= link_to new_story_idea_path, remote: true do %>
      <p><strong>Create a story idea</strong></p>
      <% end %>
    </div>
    <br>
    <div id="story_ideas-form" style="display:none;">
    </div>   
  </section>
  <section>
    <div class="mt30"></div>
    <div id="story_ideas">
     <h2>Here are the latest story ideas</h2>
     <%= render 'story_ideas' %>
    </div>
  </section>
    </div>
  </div>
</div>
