This is an invitation to <%= @member.first_name %> <%= @member.last_name %></h1><h3>To take a parish survey.

Your responses are strictly anonymous and very much appreciated, as they will be used by the vestry as it plans the future of our parish.

To take the survey, just follow this link: <%= @url %>.

  Thanks very much!
    Father Bill