<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Meet your rector-elect</title>
    <%= stylesheet_link_tag :email %>
  </head>
  <body>
    <div class='wrap'>
      <div class="image">
        <%= link_to cl_image_tag("FrTomSmall_ftq4hq.jpg"), @url %>
      </div>


            <p>Click on the image to read or download your copy of this special edition of the St. Paul Pathway.</p>



    </div>

  </body>
</html>
