<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>test</title>
    <%= stylesheet_link_tag :email %>
  </head>
  <body>

            <p>A test from saint pauls developer.</p>
  
  </body>
</html>
