<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>St. Paul's wedding makes national news</title>
    <%= stylesheet_link_tag :email %>
  </head>
  <body>
    <div>
      <h2>Love at St. Paul's makes national news!</h2>


      <p>Check out this short video. It will make you smile: https://youtu.be/kItv6D7A2H8  We'll have more about the wedding in the upcoming <em>Pathway</em></p>
      <p>If you can't join us in person tomorrow, please tune in to our YouTube channel to participate virtually in our Eucharistic Service. We promise the gremlins and bugs of the last couple of weeks are gone. 
      Here's the link https://www.youtube.com/channel/UCdc6lx-U_N1X26tkZ7TQ8-A

      <p>And please join us for coffee, from the comfort of your own home, at 10:30 a.m.) by clicking here: https://us02web.zoom.us/j/84902845436?pwd=bC95Y0l6WEQxVXZyb0I1NGNSYlNQUT09

      
       
      </div>
            
  </body>
</html>
