<div class="form-inputs"> 
  <%= bootstrap_form_for @work do |f| %>
    <%= f.input :my_act, label: false, placeholder: "God's grace inspires me to..." %>
        <div class="honey"> <%= f.input :honey %> </div>
  <%= f.button :submit, "Submit", class: "btn btn-primary btn-sm mt-30" %>
</div>
  <% end %>
