<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3"<h3>Users</h3>
      <% @users.each do |user| %> 
        <p><strong>  <%= user.full_name.titleize %></strong> &nbsp; <%= user.email %> &nbsp; <% user.role %></p>
      <% end %>
    </div>
  </div>
</div>