<h3>User</h3>
<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar %> 
<% else %>
  <h5>Upload a profile picture</h5>
  <%= render partial 'form' %>
<% end %>
<p> <%= @user.username.titleize %></p>  
<p><%= @user.email %></p>
