
<p> <%= @jubilee_plan.user.username.titleize %> has created a post in <em><strong>Jubilee!</strong></em> Sign in to the website and then <%=link_to "Click this link.", @url %> to see it.
</p>


<div class="mt100"></div>

<p>This message is generated automatically when a post has been created for members of St. Paul's. </p>

<h2>Would you like a quick tutorial on how to use the "Family Ties" social media page on our website? <%= link_to "Click here", "http://www.saintpaulsnaples.org/pages/how_to_use" %></h2>