

<p> Sign in to the St. Paul website and <%= link_to "click here", @url %>
to see the "vestry report"</p>
<p>Unless you've changed it, your pass code is Vestry2016</p>


<div class="mt100"></div>

<p>This message is generated automatically when a report has been created for members of the vestry of St. Paul's. </p>

<h2>Would you like a quick tutorial on how to use the vestry reports/comments on our website? <%= link_to "Click here", "http://www.saintpaulsnaples.org/pages/how_to_use" %></h2>