

<p> <%= link_to "Sign in to the website", "http://www.saintpaulsnaples.org" %>
and then type /vreports after the .org in the address line. </p>

<h3>Or</h3>

<p><%= link_to "Sign in and then click this link", vreport_url(@vreport) %>