<%= content_for :trix_editor_toolbar do %>
  <div class="trix-button-group trix-button-group--text-alignment">
    <button type="button" class="trix-button trix-button--icon trix-button--icon-align-left" data-trix-action="alignment" data-trix-attribute="left">
      <span class="trix-button-icon trix-button-icon--align-left"></span>
    </button>
    <button type="button" class="trix-button trix-button--icon trix-button--icon-align-center" data-trix-action="alignment" data-trix-attribute="center">
      <span class="trix-button-icon trix-button-icon--align-center"></span>
    </button>
    <button type="button" class="trix-button trix-button--icon trix-button--icon-align-right" data-trix-action="alignment" data-trix-attribute="right">
      <span class="trix-button-icon trix-button-icon--align-right"></span>
    </button>
  </div>
<% end %>
