<div class="row">
  <div class="col col-md-8 col-md-offset-2 col-sm-12">
    <h1>The History of Marriage</h1>
      <p>A three-lecture series delivered by the Rev. Wendel "Tad" Meyer, assiting priest at St. Paul's</p>
      <p>The final lecture and discussion will be on Sunday, May 14, in Trinity Hall at 9 a.m. <b>Here are the transcripts of the first two:</b></p>
    
      <div class="mt30"></div>
    
    <table class="table table-striped">
      <tbody>
        <% @marriage_talks.each do |talk| %>
          <tr>
            <td><h4><%= link_to talk.title, talk %> </h4>
            <p><strong>Delivered on  <%= talk.delivered_on.strftime("%b %d, %Y") %></strong></p>
        <% end %>
            </td>
          </tr>
      </tbody>
    </table>
      <div class="mt30"></div>
        <% if current_user && current_user.has_role?(:admin) %>
          <%= link_to 'New Marriage Talk', new_marriage_talk_path, class: "btn btn-primary" %>
        <% end %>
  <div class="mt100"></div>
  </div>
</div>
