<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @parish_survey.title %>
</p>

<%= link_to 'Edit', edit_parish_survey_path(@parish_survey) %> |
<%= link_to 'Back', parish_surveys_path %>
