
  <div class="row">
    <div class="col-md-8 main-body">

    <h1>Saint Paul’s Clergy &amp; Staff</h1>
        <div>
        <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/mugShots/BillSermonMug.jpg", width: "145", class: "floatleft") %>
        <h2>The Rev. Dr. D. William Faupel, Priest-in-Charge</h2>
        <b>239-643-0197</b>cell:<b>859-552-3291</b> <br><a href="mailto:frbill@saintpaulsnaples.org"> <h4>FrBill@saintpaulsnaples.org</h4></a><br>
        <p>Fr. Bill joined St. Paul’s on October  1, 2013, after spending several years in a dual role of training seminarians for ministry while pastoring several parishes in Kentucky and Maryland.  Raised a Pentecostal, Bill+ took his M.Div. at Asbury Theological Seminary in Kentucky and his Ph.D. in the History of Christian Thought at the University of Birmingham in England.   He also took his Anglican Studies at Queens College while in England.  He returned to Asbury in 1978 to become Director of Libraries and Professor of the History of Christianity.  During his stay in Kentucky he served a number of churches as Associate Rector, Interim Rector or Priest-in-Charge.  In 2004 he moved to Washington, DC where he taught Church History and was Director of the Library at Wesley Theological Seminary and served as supply priest in the Diocese of Washington.   In 2009 he was “loaned” to the United Methodists and pastored a small parish in Maryland until he moved to Naples.   Fr. Bill and his wife, Bonnie, have a son, Michael, and a daughter-in-law, Kimberly, who live in Kentucky.
           </p><br>
        </div>      
        
        <div>
          <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/mugShots/KayR.jpg", width: "144", class: "floatleft") %>
          <h2>The Rev. Kay Richardson</h2>
          <p>A retired priest from the Diocese of Ottawa, Anglican Church of Canada, Kay has been worshipping with us in season for several years.</p>
          <p> She served as incumbent of the Parish of Hawkesbury, L’Orignal, Grenville, Calumet and Montebello in the Dioceses of Ottawa and Montréal. Previous to that she was Assistant Curate in St. Helen’s Anglican Church in Orleans, Ontario.</p>
          <p>

          Kay is married to Brian.  They have two children, Sara and Andrew. Sara is married to Sean McKinnon with two children, Abigail and Alexis. All the family resides in Orleans, Ontario.
          </p><p>
          Before ordination, Kay was a private flute teacher and also taught instrumental music in the Richmond, B.C. public schools.  She also spent time as a substitute teacher in the Ottawa area. She played flute in the Regina Symphony Orchestra in Regina Sask.</p>
          <p>
          Kay and Brian have lived in Vancouver and Richmond, B.C, in Regina, Saskatchewan, and in Orleans, Ontario and Hawkesbury, Ontario.</p><br>
        </div>
        <div>
          <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/mugShots/MaryA.jpg", width: "144", class: "floatleft") %>
          <h2>The Rev. Dr. Mary Abrams, Deacon</h2>
          <p>Deacon Mary joins the Saint Paul's family seasonally. She and her husband, Jan, spend summer in her hometown Louisville, KY. "The Episcopal Church has been my spiritual
          home since I was nine years old," says Mary, who was ordained to the vocational diaconate four years ago.</p>
          <p>She is retired from a career as an educator, including 30 years as Dean of Students at Jefferson Community College in Louisville. She earned her doctorate in 1986 and became a Licensed Clinical Psychologist.</p><p>
          She and Jan have a son, Tracy, an animal
          trainer at the zoo in Louisville.</p>
        </div>
            <br>
              <div>       
            
              <h2>Saint Paul's Parish Staff</h2>
    
              <b>Deb Avery, Administrative Assistant<br>
              Janet Ross, Parish Accountant<br>
              239-643-0197</b>  
              </div>
    </div>

    <div class="col-md-4 sidebar">
        <h1>Vestry </h1>
          <p> Saint Paul's and other Episcopal churches rely on lay persons to engage in a mutual ministry with the ordained clergy to tend to the affairs, both spiritual and temporal, of the parish.</p>  
          <p>Vestry meetings are open to all parishioners, and are usually held the last Wednesday of the month at 6:30 p.m. Notice of the meeting and its agenda are posted a week or so before the meeting.</p>
          <p>Two wardens and the treasurer along with the priest-in-charge comprise the executive committee of the vestry, and they set the agenda. The priest is a member of the vestry by virtue of his office.</p>
          <p>Our senior warden is Richard Breithhaupt. The junior warden is Van Geoghegan. The treasurer is Hal Brundage.</p>
          <p>Other members of the vestry are Don Anderson, Charlene Connolly, Alan Cragg, Yvon Hive, Barb Kling, Patti Loree, Adrienne McGrain, Lee Perry and Bev Whiteman.</p>
          <p>There is one vacancy on the vestry</p>
          <p>It is appropriate and encouraged that anyone in the parish who has ideas or suggestions for the betterment of the congregation bring these concerns to a vestry person.</p>
    </div>
  </div>
</div>

<!--<div>
  <h2>We're looking for a rector</h2>
  <p><strong><em>What's a rector?</em></strong></p>
  <p>Rector is an "agent noun," such as actor and inventor. These are nouns formed from the action verb. In the case of rector, the verb is Latin, from "regere," meaning "to rule." Historically a rector was a ruler or governor with temporal powers.</p>-->