  <h1>Saint Paul’s Clergy &amp; Staff</h1>
<div class="main-body">
<div> 
  <%= cl_image_tag("logos/IMG_9658.png", width: "145", class: "floatleft") %> 
  <h2>The Rev. Tara McGraw, Rector</h2>
  <p><b>239-643-0197 </b></p> <a href="mailto:frtara@saintpaulsnaples.org">
  <h4>FrTara@saintpaulsnaples.org</h4></a><br>
    <p>Tara+ became rector of St. Paul's in early 2009 after being priest-in-charge since 
    early 2007. Before that she was associate rector of St. Paul's and vicar of Church of the Resurrection, 
    a mission church that combined with St. Paul's in September 2007. </p>          
    <p>Tara+ has a master's degree in divinity from Virginia Theological Seminary, a bachelor's degree 
    in business administration and juris doctorate from the University of Miami. She was a transactions 
    attorney and corporate officer for 16 years before being called to the priesthood. Tara+ and her 
    husband, John, live in Naples.</p><br>
</div>
<div>
  <%= cl_image_tag("logos/BillSermonMug.jpg", width: "145", class: "floatleft") %>
  <h2>The Rev. Dr. D. William Faupel, Associate Rector and Parish Administrator</h2>
  <b>239-643-0197</b>cell:<b>859-552-3291</b> <br><a href="mailto:frbill@saintpaulsnaples.org"> <h4>FrBill@saintpaulsnaples.org</h4></a><br>
  <p>Fr. Bill joined St. Paul’s on October  1, 2013, after spending several years in a dual role of training seminarians for ministry while pastoring several parishes in Kentucky and Maryland.  Raised a Pentecostal, Bill+ took his M.Div. at Asbury Theological Seminary in Kentucky and his Ph.D. in the History of Christian Thought at the University of Birmingham in England.   He also took his Anglican Studies at Queens College while in England.  He returned to Asbury in 1978 to become Director of Libraries and Professor of the History of Christianity.  During his stay in Kentucky he served a number of churches as Associate Rector, Interim Rector or Priest-in-Charge.  In 2004 he moved to Washington, DC where he taught Church History and was Director of the Library at Wesley Theological Seminary and served as supply priest in the Diocese of Washington.   In 2009 he was “loaned” to the United Methodists and pastored a small parish in Maryland until he moved to Naples.   Fr. Bill and his wife, Bonnie, have a son, Michael, and a daughter-in-law, Kimberly, who live in Kentucky.
     </p><br>
</div>      
<div> 
  <%= cl_image_tag("logos/FrankStrawHat.jpg", width: "144", class: "floatleft") %>
  <h2>The Rev. Frank King, Assisting Priest</h2>
      <b>239-643-0197 / 239-775-0096 
      in season</b><br></br>
      <p>Frank King+ was called to the priesthood at age 49 
      following a two-year battle with cancer. After five years of study, 
      he read for holy orders under the sponsorship of Trinity Church in 
      Fort Wayne, Indiana. He served as rector of St. Paul's in Gas City, 
      Indiana from 1993 to 1997 and has also served as interim rector of 
      St. Andrews in Kokomo. He and his wife, Miki, now split their time between 
      Naples and Indiana.</p><br><br>
</div>  
<div>
    <%= cl_image_tag("MaryA_pm4pbn.jpg", width: "144", class: "floatleft") %>
  <h2>The Rev. Dr. Mary Abrams, Deacon</h2>
      
      <p>Deacon Mary joins the Saint Paul's family seasonally. She and her husband, Jan, spend summer in her hometown Louisville, KY. "The Episcopal Church has been my spiritual
      home since I was nine years old," says Mary, who was ordained to the vocational diaconate four years ago.</p>
      <p>She is retired from a career as an educator, including 30 years as Dean of Students at Jefferson Community College in Louisville. She earned her doctorate in 1986 and became a Licensed Clinical Psychologist.</p><p>
      She and Jan have a son, Tracy, an animal
      trainer at the zoo in Louisville.</p>
</div>
    <br>
<div>       
            
  <h2>Saint Paul's Parish Staff</h2>
    
<b>Deb Avery, Parish Secretary</b><br>
<b>239-643-0197</b>  <a href="mailto:welcome@saintpaulsnaples.org"><h4>welcome@saintpaulsnaples.org</h4></a></div>
</div>

<div class="sidebar">
<h2> The Vestry </h2>
  <p> Saint Paul's and other Episcopal churches rely on lay persons to engage in a mutual ministry with the rector to tend to the affairs, both spiritual and temporal, of the parish. Members are elected by the congregation at an annual meeting, and serve three-year terms.</p>
  <p>Vestry meetings are open to all parishioners, and are usually held the last Thursday of the month at 6:30 p.m. Notice of the meeting and its agenda are posted a week or so before the meeting.</p>
  <p>Linda Connelly is senior warden and Ned Bastow is the junior warden. They along with the treasurer and rector comprise the executive committee, which meets more frequently and sets the agenda. The treasurer need not be a member of the vestry. Hal Brundage serves as treasurer.
  Joining Linda and Ned on the vestry are Richard Breithaupt, Charlene Connolly, Alan Cragg, Van Geoghegan, Barb Kling, Patti Loree and Judy Martin.</p>
  <p>There are three vacancies on the vestry at this time. If you are interested in serving in this ministry, please call one of the wardens or the rector.
  </p>
  </div>