<div class="container">
  <div class="col col-sm-6 offset-sm-3 col-md-4 offset-md-4">
    <div class="text-center">
      <h1> Thank you very much! </h1>
      <h3>And please remember...</h3>
      <p>You are the church. Express your needs and desires to Fr. Tom or any other member of our vestry, our leadership team.</p>
      <p>Want to get involved? Talk with us about Bible study, God's Gardeners, Altar Guild, office and gift shop and Farmers' Market volunteering and other opportunities. </p>
     <p>Want to  <%= link_to "make your donation recurring?", new_pledge_path %></p>
    </div>
  </div>
</div>