

<!-- <div class="modal" id="my_modal" tabindex="-1" data-controller="modal" style="display: block;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-white bg-success">
      <div class="modal-header">
      <h1 class="modal-title text-center text-white">Christmas at St. Paul's </h1>
        
      </div>
      <div class="modal-body">
        <h3 class="text-center text-white">Christmas Eve 9 p.m.<br>
          Christmas Day 10 a.m.<br>
          New Year's Eve 10 a.m.</h3>
          <p><small>New Year's Eve is also the fourth Sunday of Advent. We will return to two masses 8 and 10 a.m., on Jan. 7.</small></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div> -->

<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title bg-success text-white text-center">Christmas at St. Paul's</h1>
        
      </div>
      <div class="modal-body">
        <p>Will fill in later</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
