<div class="modal fade modal" id="myModal">   
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Concert cancelled!</h2>
          <button type="button" class="close" data-dismiss="modal"      aria-hidden="true"> &times;</button>
      </div>
      
      <div class="modal-body">
        The Franklin and Marshall college choir has suspended travel, so the concert sheduled for March 17 is cancelled.
        Be safe, folks, and God bless.
        <%#= link_to cl_image_tag("March2020S_uwawdz.jpg", width: "100%"), 
          "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1583598830/March2020S_uwawdz.pdf" %>
      </div> 

      <div class="modal-footer">
        <%
=begin%>
 <p><strong>Click image to read or download & print.</strong></p> 
<%
=end%>
          <button type="buton" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>
Choral
Concert
March 17
The 20-voice college chamber
choir from Franklin and Marshall,
Lancaser, Pa., will present a pro‐
gram at St. Paul's at 7 p.m. Tues‐
day, March 17 in the church.
Most of the group's music is of a
sacred nature, from a variety of
styles. And, since it's St. Patrick's
Day, we'll hear some Irish selec‐
tions, too.
A free-will offering will be col‐
lected and a reception will follow
in Trinity Hall.