<div class="modal fade modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Cancellations </h1>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
            </div>

            <div class="modal-body">
                Gatherings at St. Paul's involving more than a few persons, including <strong>Sunday worship services, the Saturday Farmers' Market and Bible studies </strong> are suspended until further notice. This decision is in keeping with the guidelines of our diocese, governmental agencies and healthcare authorities.<br><br>
                Be safe, folks. May God bless you and may you know that you are not alone.
                <%#= link_to cl_image_tag("March2020S_uwawdz.jpg", width: "100%"), 
          "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1583598830/March2020S_uwawdz.pdf" %>
            </div>

            <div class="modal-footer">
                <%
=begin%>
                <p><strong>Click image to read or download & print.</strong></p>
                <%
=end%>
                <button type="buton" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>