<div class=col-lg-12>
  <div class="floatright">
  <figure>
    <%= cl_image_tag("FrTomFamily_wqpjmh.png", width: "640") %>
    <figcaption><small>Fr. Tom with his wife Quincey, sons Harbor Cole and Mitchel, and Zadie, one of their two dogs.</small></figcaption>
  </figure>
  </div>
  <h1>New rector<br>Announced</h1>
  <p><strong>The Rev. Dr. Thomas Andrew Thoeni</strong> has answered God's call to become the fifth rector of St. Paul's.</p>
  <p>Fr. Tom, a native Floridian, comes to us after 15 years as rector of St. Peter's Episcopal Church in Plant City. He replaces <strong>the Rev. Dr. D. William Faupel</strong>, our priest-in-charge for the last three years, who is retiring.</p>
  <p><%= link_to "Read more", rector_path %>
</div>
