
<div class="row">
  <div class="col col-lg-6 col-lg-offset-3">
    <h1>Drop 5! (or more)</h1>

    <a id='kziUd-hGRAl3lSjyCCW4xA' class='gie-single' href='http://www.gettyimages.com/detail/163394991' target='_blank' style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed from Getty Images</a><script>window.gie=window.gie||function(c){(gie.q=gie.q||[]).push(c)};gie(function(){gie.widgets.load({id:'kziUd-hGRAl3lSjyCCW4xA',sig:'n0XBmRKYWWXE5O2L_HGUgeXw9_obnDUumcINq1la764=',w:'507px',h:'338px',items:'163394991',caption: true ,tld:'com',is360: false })});</script><script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async></script>
    <div class="mt30"></div>
<%= render 'form' %>     
       
<div class="mt100"></div>
