<h3>You have pledged to lose some weight! Be Jubilant!</h3>
<p><strong><%= @drop5.name %></strong> has pledged to drop <%= @drop5.pledge %>, and here's how: <em>"<%=@drop5.how %>"</em></p>

<%= link_to "See who else has pledged to drop 5", drop5s_path(anchor: "pledges_to_date") %>
