
<h4><%= @characteristic.name %></h4>
<%#= form_for @characteristic do |f| %>
    <%#= fields_for @characteristic.ratings do |r| %>
      <%#= r.select :score, Rating.scores %>
  </div>
  <div class="form-actions">  
    <%#= f.button :submit %>
  </div>
  <%# end %>
  <%# end %>
