<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>Paul Todd Jr. Concert March 4, 2025</title>
  </head>
  <body>
    <div class='wrap'>
      <p><b><em>Thank you!</em></b></p>


<p> Your <%= pluralize@ticket.quantity, 'ticket' %> will be at the door in the name of 
<%= @ticket.first_name.titleize %> <%= @ticket.last_name.titleize %>. 
Doors open at 5:30 p.m. Enjoy the show.</p>

<p>Mark your calendar: Paul Todd Jr., March 4, 2025, 7 p.m. at St. Paul's Church, 3901 Davis Blvd., Naples, FL Phone (239) 643-0197</p>
<div class="mt-5"></div>
<h3>We are the Episcopal branch of the Jesus movement</h3>
    </div>
  </body>
</html>
