<div id="slider" class="nivoSlider">
 <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/Composite1.png' /> 
 <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/Composite14.png' /> 
 <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/Composite10.png' />  
 <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/Composite11.png' />  
 <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/Composite15.png' />  
 <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/Composite16.png' />  
 <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/Composite19.png' />  
 <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/Composite21.png' />  
 <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/Composite8.png' />  
 <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/NewComp1.png' />  
 <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/NewComp2.png' />  
 <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/newComp3.png' />  
 <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/newComp4.png' />  
 <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/newComp5.png' />  
 <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/newComp6.png' />  
</div>

<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider();
});
</script>