
  <div class="sermon-page">
    <h1>'We are the Children'</h1>
      <p>Click on the video below to see Fr. Hipolito Fernandez talk about the purpose of El Buen Samaritano (the Good Samaratin) children's shelter in San Francisco de Macoris, Dominican Republic. <em>If caption text does not appear, click on the "cc" icon.</em> The video was made by Ned Bastow during a short trip to the shelter with two priests and three other lay persons from the Naples Episcopal Deanery. The Episcopalians of Naples (including Bonita and Marco) are the sole supporters of the shelter.</p>
      <p>Saint Paul's does its part through an annual sponsorship drive, supplemented by gifts from the vestry, the ECW, Gift Shop and others. </p>
      <p>By the way, Fr. Hipolito is now a priest in our diocese, serving the Spanish community in Collier County through Saint Monica's on Immokalee Road.</p>
  </div>  
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <iframe width="80%" height="350" src="http://www.youtube.com/embed/p4IOP6J1H04" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

