<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Naples Episcopalians visit the children at deanery-supported shelter</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>Just after Christmas, 35 Episcopalians from the Naples Deanery made a visit to the children we support at El Buen Samaritano (the Good Samaratin) children's shelter in San Francisco de Macoris, Dominican Republic. Here is a video of some parts of that event:</p><br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/bvXcNGelplM?rel=0" frameborder="0" allowfullscreen></iframe>
    <br>

    <p>Saint Paul's does its part through an annual sponsorship drive, supplemented by gifts from the vestry, the ECW, Gift Shop and others. </p>
    <p>Below is another video featuring the Rev. Hipolito Fernandez Reina explaining the ministry from his unique vantage of being priest-in-charge. He is now a priest in our diocese, serving the Spanish community in Collier County through Saint Monica's on Immokalee Road.</p>
<iframe width="90%" height="432" src="https://www.youtube.com/embed/p4IOP6J1H04?rel=0" frameborder="0" allowfullscreen></iframe>
      
  </div>
</div>
<div class="row"> 
<div class="col col-md-10 col-md-offset-1 col-sm-12">
<%= cl_image_tag("sponsorship_neflch.png", width: "90%", class: "image-center") %>


</div>
</div>