
  <div class="row">
    <div class="col col-sm-12 col-lg-8 col-lg-offset-2">
      <h2><small>'For we are God's handiwork, created in Christ Jesus to do good works, which God prepared in advance for us to do'</small></h2>
      <p class="text-right"><small>Ephesians 2:10</small></p>
      <p>It's Jubilee! Let's celebrate the gifts God has gathered together in our Church!</p>
<p>Whether in Naples, Naperville or Niantic, we are bound to one another; those physically absent from St. Paul's for the summer are still very much a part of the Spirit that guides us.</p>
<p>To celebrate Jubilee! in the month of May, we're going to make a large poster and present it at the Offertory on May 28. This poster will contain handwritten notes describing how the writer is doing God's good works.</p>
<p>What would you write? Think of a time when you were a God-bearer to somebody, when you went out of your way to help someone. When did you extend yourself on behalf of someone else? These acts don't have to be epic in scale or heroic. We were created to do good works. Tell us in a phrase or sentence what you've been doing. Still stuck? Did you wipe a tear from a grandchild's face or allow someone to enter your lane? Good work! God's work!</p>
<p>To help us gather these instances of your being the Light of Christ in the world, you have <strong>these options:</strong>  Print the form below, fill it out and drop it into this Sunday's offering; Fill it out and mail it to the office; Use the electronic form beneath the form and someone will transcribe your words; or send an email to Deb at welcome@saintpaulsnaples.org.</p> 

<p><em><strong>It's anonymous, so you're not boasting, but rather allowing us all to celebrate what God is doing in the world through his people of St. Paul's! </strong></em></p>

  <%=cl_image_tag("GoodWorks_w2dwo9.jpg", width: "95%", class: "image-center")%>

  <div class="mt30"></div>

    <h2><small>Here's an electronic version of the form:</small></h2>
  <div>  
    <%= render partial: 'works/form' %>
  </div>
    </div>
  </div>

  <div class="mt100"></div>
