<div class="row">
  <div class="col col-12-sm">
<%#= cl_image_tag("ParishProfileWeb_qzrvla.jpg", width: '700') %>
<div class="mt30">
  <%= cl_image_tag("history_t7dacr.jpg", width: '400', class: "image-center") %>
  <div class="mt30"></div>
  <p class="text-center">
  <%= link_to "Download a pdf of our recently printed history of our first 50 years", "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1521834023/history_t7dacr.pdf" %>
</p>
</div>
<%#= cl_image_tag("history_u2n47u.pdf.pdf", width: '700')%>
</div>
</div>
