<div class="row">
  <div class="col col-12-sm">
<%#= cl_image_tag("ParishProfileWeb_qzrvla.jpg", width: '700') %>
<div class="mt30">
  <%= link_to "download a pdf of our recent history", "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1521834023/history_t7dacr.pdf"%>
</div>
<div class="mt30"></div>
<%#= cl_image_tag("history_u2n47u.pdf.pdf", width: '700')%>
</div></div>
