<div class="col-lg-8 offset-lg-2">
  <h2>Fr. Tom's life, so far...</h2>
<p>The Rev. Dr. Tom Thoeni  is a native Floridian and has proudly lived all but six years of his life in the state of Florida.  He grew up in Jacksonville the youngest of two children.  He left Jacksonville to pursue his studies at the University of Florida, earning a Bachelor of Design from the College of Fine Arts.  During his years at UF he was deeply involved at the Chapel of the Incarnation, the Episcopal outreach to the University of Florida.  Within that community he discerned his call to the priesthood and met and married his beloved wife, Quincey.  Fr. Tom can still lead you to the exact spot where  he was standing when he first saw his future wife.</p>
<p>
He attended Seabury-Western Theological Seminary, then located in Evanston, IL, just north of Chicago.  While earning his Master of Divinity he also served as the seminary equivalent of class president, earning a reputation as a mediator and trusted bridge builder  between people of disparate viewpoints.</p>
<p>
After seminary, Fr. Tom was called to St Paul’s in Albany, GA, serving for three years.  While in Albany, Fr. Tom and Quincey's first son, Harbor Cole, was born.  With a new child just weeks old they moved to Pensacola, FL to serve Christ Church for nearly six years.  Their second son, Mitchell Bay Ruach was born in Pensacola.  They added his second middle name, Ruach (“Breath of God”), after he was born 2 1/2 months early and miraculously survived and thrived.</p>
<p>
Over fifteen years ago, Fr. Tom was called to be rector of St Peter’s, Plant City, in the Diocese of Southwest Florida.  Fr. Tom’s tenure as rector of St Peter’s has brought a sense of stability and health, with the areas of buildings and grounds, lay ministry, outreach and administration being particularly strengthened.</p>
<p>
In 2012, Fr. Thoeni earned his Doctor of Ministry in a joint program between Seabury-Western Theological Seminary and Church Divinity School of the Pacific in Berkeley, CA.  His doctoral thesis focussed on using the vow of the Baptismal Covenant as the basis as forming team of mission and ministry.  This has led to a pro-active and empowered vestry working collegially and creatively.</p>
<p>
Fr. Tom and Quincey are so excited about this new chapter in their lives.  It comes at a pivotal moment for the Thoeni family.  Both of their sons are just beginning college.  Harbor Cole is pursuing his studies in English and Film Studies at Florida State College at Jacksonville and the University of North Florida.  He is in a great program at UNF for kids on the autism spectrum to be able to attend college.  Mitchell is studying Aerospace Engineering at the University of Florida.  Quincey is a Health Educator and Health Coach, currently working for BayCare Health System, providing screenings, wellness events, coaching, and classes for corporations, hospital employees, weight loss surgery patients, and the public, throughout the Tampa Bay area.  She hopes to find a similarly great a job in Naples.</p>
</div>

<!--
<article>
<h2>Vestry pondering<br>three as rector</h2>
  <p>The vestry has the names of three highly recommended priests to be the new
  rector of St. Paul's and is working on getting to know them better.</p>
  <p>From an initial list of more than a dozen candidates, a search team did
  the initial selection of the final three by visits, video-chat interviews
  and research. The search team feels the three finalists best fit the needs of
  our parish, based on parishioners' expressions through surveys and other
  means. </p>
  <p>Our diocese posted the position opening after Fr. Bill made it known
  that this would be his last year as our pastor, as he has reached the age
  of mandatory retirement under the canons of the Episcopal Church.</p>
  <p>Those interested in the position were given our <%#=
  link_to cl_image_tag("ParishProfilePDF_cover_hymh4t.png", width: "60%",
  class: "floatright"),
  "http://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1522935596/ParishProfile_vs6vjv.pdf.jpg.pdf"%>
  parish profile and other documents  to learn about our parish, including
  a brief history, our ministries and our desires. (Click the image to see
  our parish profile).</p>

  <p>Search team members, whose job is now finished until after the vestry
  makes its selection, are Dave Abernethy, Don Anderson, Dick Breithaupt, Linda  Connelly, Tom Connolly, Connie Cunningham, and Ginny Harper. They will spring
  into action again to help the new rector settle into his new surroundings.</p>
</article>-->
