
<h1>Learn the Way of Love this Lent</h1>
<div class="way-of-love">
  <div class=love-text">
  <h2>Way of Love</h2>
    <p class="teaser">Use this lent (Ash Wednesday is Feb. 26) to draw closer to God and live a Jesus-centered life. Join the Rev. Dr. Mary Abrams, our deacon, on either Wednesdays at 6:30 p.m. beginning Feb. 19 or Sundays between the services. Get acquainted with the material by watching the video at right, featuring the Most Rev. Michael Curry, presiding bishop of the Episcopal Church. All are welcome!</p>
  </div>

  <div class="iframe">
    <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/jroyof2vje" width="400" height="225"></iframe>
  </div>
  
  <div class="love-image">
    <%= link_to cl_image_tag("Way_of_Love_Primary_Graphic_kllhuk.jpg", :width=>350, :crop=>"scale"), "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/c_scale,w_1221/v1582034015/Way_of_Love_Primary_Graphic_kllhuk.jpg" %>
  </div>
</div> <!-- way-of-love -->