
<div class="col-md-6 offset-md-3">

<p>Thank you. Your <%= pluralize @ticket.quantity, 'ticket' %> tickets for
   <% @ticket.event.title %> will be at the door in the name of
   <%= @ticket.first_name.titleize %> <%= @ticket.last_name.titleize %>.
Doors open at 6:30 p.m. </p>

<p>If your order was for live streaming the concert, you will receive an email with instructions and password to connect with your device (television, computer or smart phone).</p>

<p>We hope you enjoy the show.</p>
</div>
