<div class="col-md-4 offset-md-4 col sm-8 offset-sm-2">
<%= bootstrap_form_with model: @donation do |f| %>
 
    <%= f.number_field :dollars, prepend: "$", append: ".00", placeholder: "(whole dollars only)", hide_label: true %>
   
    <%= f.submit "One-time donation", class: "btn btn-success mb-5" %>
<% end %>
</div>
