<h1 class="mb-5">Create your donation</h1>
  <% if user_signed_in? %>
    <%= render 'form', donation: @donation %>
    <div class="mt-3"> </div>
  <% else %>
    <p><strong>Start by signing in, or if you have not registered, by registering. If you have been registered but forgot your password, click <em>Sign in</em> then click on "forgot my password" and you will get an email with instructions about how to set a new password. Click one:</p>
      <h2 class="text-center mb-5">
        <%= link_to "Register", new_user_registration_path %> &nbsp; or &nbsp; 
        <%= link_to "Sign-in", new_user_session_path %></h2>
  <% end %>
  
  <div class="mt-5 mb-5"></div>
