<h1><%= @donation.user.username.titleize %></h1>
<p><strong><%= formatted_amount @donation.amount %></strong></p>
<div class="mt-5 mb-5"></div>

<% if current_user == @donation.user %>
<%= link_to 'Edit', edit_donation_path(@donation) %> | 

<%= link_to 'Cancel this donation', new_donation_path %>
<% end %>
