<h1>Spirituality at Saint Paul's</h1>
<div class="row">
<div class="col-md-8 col-sm-12 main-body">
  <p>Three distinctive Eucharistic liturgies (ritualistic spiritual worship services) are offered at St. Paul's every Sunday in season (November-April). During summer we celebrate the usual 8 a.m. service and a 10 a.m. Rite II service with congregational singing but no choir.</p> 
  <p>Here's how the three in-season worship services differ:</p>

  <p>The <b>8 a.m. </b>service is Rite I. If you are attracted to traditional English language in use for the past 500 years, Rite I might be your choice. It is a quiet, sober and contemplative worship of The Transcendent God. 
  Rite II is used at the 10:45 service, and a newer Eucharistic prayer is used at 9:15.</p>
  <p>At <b>9:15, </b>a casual, intimate atmosphere is created through use of music and wording to bring to mind the 
  immanence of God, the idea that God is near to us. The liturgy is from <em>Enriching Our Worship,</em> the most contemporary language in the Episcopal Church.</p>
  <p>Our <b>10:45 </b>service uses the language of Rite II, an English polished over our long history of worship in the venacular. Organ music and a full choir enhance the liturgy.</p>

  <p>If you are from the Roman Catholic or Lutheran tradition, you will feel right at home here. Even if you've never been inside a church and are now discovering your spirituality, you will be welcome at St. Paul's.
   A printed guide, or worship bulletin, is provided to help you follow the service.</p>
   <p><strong>All baptized Christians are welcome to receive God's gift at the Communion rail.</strong></p>
   <h4><%= link_to 'Click here for map', 'pages/directions'  %></h4></a>
  <H1>What's an Episcopalian?</H1><p>How can we say we're both catholic and protestant? It's not that complicated. We walk "the middle way."</p>
  <p>Episcopalians are a part of a world-wide association of churches called collectively, "The Anglican Communion." We share certain characteristics and modes
  of worship that are distinctive and share a common communion. 
  We are liturgical and scriptural.</p>
  <p>One unique feature of being Anglican/Episcopalian is our polity (the churchy word for policy). We retain the ancient three-fold ministry of bishops, priests and deacons, but
  authority and responsibility are not functions of our clergy alone. We believe strongly in governance by the entire church, not just its leaders. No bishop may claim a superior status
  over another and no bishop gets to be a bishop unless elected by both clergy and laity. No priest may "rule" over his/her parish; authority is shared between the clergy
  and the parish council (we call it a vestry) and the same applies all the way up. In this way, all members of the Church are and may be held accountable to the others.</p>
  <p>There are other things which mark us as different. We invite you to check us out at St. Paul's. There's room here for you, your questions and even your doubts!</p>

    <div id="toBishopVideo">
      <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/curry.png", 
        width:"47%", class: "floatright") %><br><br>
      <h2>'This is the Jesus Movement'</h2>
        <p> Bishop Michael Curry, right, was installed in November 2015 as the primate of the Episcopal Church. Click his photo for a short video in which he sets the tone for our Church.</p>
        <p>The first African-American presiding bishop, Curry replaced Bishop Katharine Jefforts Schori, the first woman primate.<br>
      
    </div> 
    <!-- <div class="clearall"></div> -->
</div>

<div class="col-md-4 col-sm-6 sidebar"> 

<h2>Advent series</h2>
<p>This series begins this Sunday and is entitled <em>"The Dynamics of Faith."</em> We will focus on the way our faith can and should work within the fabric of our lives and how we might make that connection more dynamic.</p><p> One dictionary defines dynamic as "pertaining to or characterized by energy or effective action." Over the course of these four Sundays, we will be thinking and talking about how our faith is put into action, how it can be transformed from static belief to a source of energy and activity in our lives. </p><p>Each session will begin with a presentation followed by lively discussion. All are welcome, either at 9:15 or 10:45 a.m.</p><p>The series <em>Spreading the Good News </em>will resume at the 9:15 hour in the new year.</p>
     <!-- is the title of our new adult formation course written by the Rev. Steve Zimmerman for all who want to know more about the teachings of the Episcopal Church.  We meet in the library at 9:15 a.m. to listen to a 15-20 minute podcast, then share our responses and learn from one another. All are welcome</p> -->
<h2>How we pray</h2>
  <div id="toVideo">
    <%= cl_image_tag("books-of-common-prayer_oasoqz.jpg", 
    width: "95%", class: "image-center") %>
  </div>
  <p>
    There's a prayer for almost every occasion in the Episcopal <em><b>Book of Common Prayer.</b></em> 
    Click on the books above to see a humorous but informative four-minute video introduction to the wealth and depth of the book.
</p><%= link_to "Click here to read the Book of Common Prayer on line.", "http://www.bcponline.org", target: "blank" %>
<br> 
<h2>Opportunities for spirituality</h2>
<p><em><b>Centering prayer</b></em> A small group gathers every Monday at 10 a.m. for meditative prayer in the library. All are invited.  No experience necessary.  Come!  Any Monday or all!  Deepen your connection with God.  Allow your soul to re-center.  A spiritual silence, deeply individual yet wonderfully shared.  Engage a Christian spiritual tradition that is centuries old, yet re-discovered and celebrated today as the popularity of "mindfulness meditation" spreads and its benefits to body, mind, mental state and productivity have been documented by the medical community.  If peace is missing in your life, it can await you here.  Our friend Father Al, Benedictine Abbot and priest of the United Catholic Church, facilitates.</p>
<p>Discussion afterward for all who wish to engage, about a wonderful book for spiritual direction that could be shared by a group who wants to meet after centering prayer in the future.</p>

</div>

<div id="youtube"> 
  <div id="videoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <iframe width="560" height="315" src=""></iframe>  
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- </div> -->
<script>
  $('#toVideo').click(function() {
   var src="https://www.youtube.com/embed/KCn5edLZ72o?rel=0;autoplay=1";
   $('#videoModal').modal('show');
   $('#videoModal iframe').attr('src', src);
  });

  $('#videoModal button').click(function() {
    $('#videoModal iframe').removeAttr('src');
  });
</script>
<div id="presiding-bishop"> 
  <div id="videoModalPB" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <iframe width="820" height="510" src=""></iframe>  
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#toBishopVideo').click(function() {
   var src="http://fast.wistia.net/embed/iframe/qo6rqw8aum?canonicalUrl=https%3A%2F%2Fepiscopalchurch.wistia.com%2Fmedias%2Fqo6rqw8aum&canonicalTitle=Presiding%20Bishop%20Michael%20Curry%20-%20EpiscopalChurch" ;
   $('#videoModalPB').modal('show');
   $('#videoModalPB iframe').attr('src', src);
  });

  $('#videoModalPB button').click(function() {
    $('#videoModalPB iframe').removeAttr('src');
  });
</script>


<!--<iframe class="wistia_embed" name="wistia_embed" src="http://fast.wistia.net/embed/iframe/qo6rqw8aum?canonicalUrl=https%3A%2F%2Fepiscopalchurch.wistia.com%2Fmedias%2Fqo6rqw8aum&canonicalTitle=Presiding%20Bishop%20Michael%20Curry%20-%20EpiscopalChurch" allowtransparency="true" frameborder="0" scrolling="no" width="620" height="349"></iframe>-->