<div class="container">
  <div class="row">
    <div class="sermon-box">
      <div class="sermon-picture float-left mr-10">
        <%= image_tag(@sermon.homilist.photo, height: '183') %>
      </div>
        <div class="ser-text text-center">
          <h4>Sunday Sermon</h4>
          <p class="ser-name mt-4"><strong> <%= @sermon.homilist.name %></strong>
          </p> 
          <p class="ser-title mb-3"><em><%= @sermon.homilist.title %></em>
          </p>
          <p class="ser-date mt-4"><%= @sermon.delivered_on.strftime("%b. %-d, %Y") %> </p>
        </div>
     </div>
  </div>
</div>
