<div class="container">
  <div class="row">
    <div class="sermon-box">
      <%= image_tag(@sermon.homilist.photo, width: '150', class: "img-fluid floatleft") %>
        <h4>Sunday Sermon</h4>
          <p class="ser-name"><strong> <%= @sermon.homilist.name %></strong>
          </p> 
          <p class="ser-title"><em><%= @sermon.homilist.title %></em>
          </p>
          <p><small><%= @sermon.delivered_on.strftime("%b %-d, %Y") %> 
          </small></p>
     </div>
  </div>
</div>
