<div class="sermon-box">
  <%= image_tag(@sermon.homilist.photo, size: '127x175', :class => "floatleft") %>
    <h2>Sunday Sermon</h2>
    <h3> <%= @sermon.homilist.name %></h3> 
    <h4><em><%= @sermon.homilist.title %></em><br>
    <%= @sermon.delivered_on.strftime("%B %d, %Y") %> </h4>
</div>
  