<h1>Sermons from St. Paul's pulpit </h1>

<table class="table table-striped">
  <tbody>
    <% @sermons.each do |sermon| %>
      <tr>
        <td ><%= sermon.delivered_on.strftime("%b %d, %Y") %></td> 
        <td><%= sermon.homilist.name %></td> 
        <td><%= link_to sermon.title, sermon %> <% if current_user && current_user.admin? %>
          | words: <%#= sermon.sermon_body.split.count %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if current_user.present? %>
  <%= link_to "Add a sermon", new_sermon_path %>
<% end %>