<div class="page">
  <%= render 'layouts/header' %>
<div class="main_body"><h1>New opportunity</h1>

<%= render 'form' %>
</div>
<%= link_to 'Back', opportunities_path %><br>
<%= render "layouts/footer" %>
