<div class="row">
  <div class="col col-md-8 col-md-offset-2 col-sm-12"> 
<h1>Edit your meditation</h1>


<p><strong>May you have a rewarding Lent! And thanks again for sharing your spiritual discipline with us.</strong></p>
<div class="mt30"></div>
<%= render 'form' %>

<%= link_to 'Show', @meditation %> 
  </div>
</div>