<div class="row">
  <div class="col  col-md-6 col-md-offset-3 col-sm-12">

<h1>Your Meditation</h1>
<h2>Here's how to start</h2>
<p>Think of your favorite verse from scripture. Or use a line from your favorite hymn.</p>
<p>Contemplate on the layers of meaning in your selection. Pray for a while and then start writing in the box below. Write down all the thoughts your verse inspires.</p>

<p>Now edit your words so they tell the story in the way your know it.</p>

<p>After writing your meditation, create a short headline of one to five words. Enter the citation, or chapter and verse from scripture or the song title, and enter your full name. Click the blue "Create meditation" button to see how your piece looks.
</p>
<p>When you hit the create button, you will see the word count. Now is the time to give your piece another edit. Finally, edit again until your word count is 150, give or take 10. Hit "Update Meditation." Repeat until you're satisfied, and you're finished.</p>
<p><strong>Thank you for doing this.</strong></p>

<%= render 'form' %>

  </div> 
</div>