<div class="row">
  <div class="col  col-md-8 col-md-offset-2 col-sm-12">

<h1>Your Meditation</h1>
<h2>Here's how</h2>
<p>Think of your favorite verse from scripture. Or use a line from your favorite hymn.</p>
<p>Contemplate on the layers of meaning in your selection. Pray for a while and then start writing in the box below. Write down all the thoughts your verse inspires.</p>

<p>Now edit your words so they tell the story in the way your know it, feel it and try to live it.</p>

<p> Enter a headline and the chapter and verse from scripture or the song title. Add your name and enter a brief concluding prayer. Click the blue "Create meditation" button to see how your piece looks.
</p>

<p><strong>Thank you for doing this.</strong></p>

<%= render 'form' %>

  </div> 
</div>