<p>Hello <%= @member.first_name %>, </p>

<p>This is your invitation to take the parish survey that will help guide the vestry as it plans the future of St. Paul's. Your participation is anonymous and most appreciated.</p>

<p><%= link_to "Just click here", "http://saintpaulsnaples.org/survey",invitation_token => @token %></p>

