
<%= simple_form_for @vestry_minute do |f| %>

  <div class="form-group">
  <p>Date of the meeting:</p>
    <%= f.date_select :date, id: 'datetimepicker1' %>
    <div class="mt30"></div>  
  
    <%= f.input :minutes, as: :summernote %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>

  <script type="text/javascript">
    $(function () {
      $('#datetimepicker1').datetimepicker();
    });
  </script>