<h3>Anniversaries this month</h3>
<% anniversaries_this_month.each do |anniversary| %>
  <p><%= anniversary.salutation %> <%= anniversary.last_name %>, 
  <%= anniversary.anniversary.strftime("%B %-d") %></p> 
  <% end %>
  