<div class="container">
<%= link_to 'Add a new Pathway card', new_pathway_path %> <div class="mb-5">
</div>
<div class="row">
<% @pathways.each do |p|%>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card" style="width: 200px;">
      <div class="card-img-top" alt="pathway image">
      <%= image_tag "#{p.image}", width: "100%" %>
      </div>  <!-- card- image -->
        <div class="card-body">
          <h4 class="card-title"> <%= p.title %> </h4>
           <%= link_to "Download", "#{p.link}" %>
        </div> <!-- card-body -->
    </div> <!-- card -->
  </div> <!-- column -->
<% end %>  
</div>


<%# </div>
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-4 col-md-12 mb-4">

    <!--Card Primary-->
    <div class="card mdb-color text-center z-depth-2">
      <div class="card-body">
        <h3 class="text-uppercase font-weight-bold cyan-text mt-2 mb-3"><strong>First column</strong></h3>
        <p class="white-text mb-0">Ut enim ad minima veniam, quis nostrum exercita tionem ullam corporis
          suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit
          qui in ea voluptate non proident velit esse quam. </p>
      </div>
    </div>
    <!--/.Card Primary-->

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-4">

    <!--Card Primary-->
    <div class="card red darken-4 text-center z-depth-2">
      <div class="card-body">
        <h3 class="text-uppercase font-weight-bold light-green-text mt-2 mb-3"><strong>Second column</strong></h3>
        <p class="white-text mb-0">Ut enim ad minima veniam, quis nostrum exercita tionem ullam corporis
          suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit
          qui in ea voluptate non proident velit esse quam. </p>
      </div>
    </div>
    <!--/.Card Primary-->

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-4">

    <!--Card Primary-->
    <div class="card light-blue darken-1 text-center z-depth-2">
      <div class="card-body">
        <h3 class="text-uppercase font-weight-bold purple-text mt-2 mb-3"><strong>Third column</strong></h3>
        <p class="white-text mb-0">Ut enim ad minima veniam, quis nostrum exercita tionem ullam corporis
          suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit
          qui in ea voluptate non proident velit esse quam. </p>
      </div>
    </div>
    <!--/.Card Primary-->

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->
</div> %>
