<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
    <h1>Sunday School at Saint Paul's</h1>
    </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
        <p>Sunday School life at Saint Paul's brings our children into classes in Serson Hall. At 9:15 a.m. and 10:45 a.m. there is a year-around study of the Christian faith, the Episcopal Church, its seasons, and the catechism.</p>
        <p>Children join their families in church for Holy Communion after Sunday School.</p>
        <p>The children from our 5:00 p.m. Creole Holy Name of Jesus congregation come to Sunday School at 5:45 p.m. in Serson Hall for classroom activities and learning about Jesus and the Episcopal Church.</p>
        <p><strong>What are the children learning?</strong></p>
        <%= link_to "See the preschool curriculum", preschool_syllabuses_path %><br>
        <%= link_to "See the primary grades curriculum", primary_syllabuses_path %><br>
        <%= link_to "See the middle grades curriculum", intermediate_syllabuses_path %>
        </div>
          <div class="col-md-5">
            <%= image_tag("https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1434168825/IMG_2501_sgfipl.jpg", class: "floatright", width: "99%") %>
          </div>
      </div>
  </div>
</div>
