<div class="row">
  <div class="col col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1">
  <%= cl_image_tag("Tad_Ann_scaled_gam5lm.jpg", width: '100%') %>
    
  </div>
</div>
<div class="row">
  <div class="col col-md-8 col-md-offset-2 col-sm-12">
  <h1>'Spirituality of Intimacy'</h1>
  <p>Respect, fidelity and forgiveness are some of the topics of a forum on the spiritual dynamic of human relationships to be given by the Rev. Tad Meyer and his wife, the Rev. Ann Stevenson.</p>

<p>The series, The Spirituality of Intimacy, is for anyone who wishes to explore the connection between human emotional behavior and the Triune God, whose very essence is intimate relationship. It begins at 9 a.m. Jan. 15 in Trinity Hall, and all are welcome to attend. Each of the sessions will last about 45 minutes. It is not for couples only, says Fr. Tad:</p>

<p>“The series deals with all sorts of spiritual intimacy which can exist and flourish among family members, friends, acquaintances and, of course, couples. It focuses on how such intimate relationships help us to become more fully human&mdash;more fully ourselves in all our disheveled but glorious humanity&mdash;which is, I believe, what God in Christ wants of us and for us.”</p>

<p>Retired from full-time ministry, Tad is an assisting priest at St. Paul’s where he demonstrates a gift for teaching. His wife Ann has been active in parish ministry and spiritual direction for more than 25 years.</p>

<p>Each forum will consist of a presentation by Tad and Ann, followed by conversation. There are 11 Sunday morning sessions, between the two worship services.</p>

<p>“We sincerely hope that many of you will find these conversations not only informative but inspiring, enriching your experience of those wonderful relationships that frame and energize our spiritual lives.”</p>
</div>
</div>
<div class="mt100"></div>

