<h1>Learn your role as a Christian in EfM</h1>
<%= cl_image_tag("logos/EFM_Logo.jpg", :width=>350, :crop=>:scale, class: "floatright") %><p>
In September, St. Monica’s Episcopal Church on Immokalee Road will begin its 16th year of EfM.  Over the years we’ve had members of three Episcopal churches (including Saint Paul's) and some Presbyterians and Catholics as part of our groups.  </p><p>This letter is an invitation to members of St. Paul’s who might be interested in learning more about EfM to join us for a “taster” session.</p><p>

We will actually have two sessions, one on Saturday, August 8 at 6 p.m., following the 5 p.m. service, and the second on Sunday, August 9 at 10:45 a.m., following the 9:30 a.m. service.  At both sessions, refreshments will be served.
</p><p>
You will meet people already participating in EfM, and some of our graduates, all of whom will be happy to share their experience of EfM and give you an opportu­nity to see what we do at our sessions. You will be able to browse the materials and to ask questions. 
</p><p>
You do not need to have a wide knowledge of the Bible or doc­trine, and people of any denomination are welcome.
</p><p>
Registration materials will be available, but you will not be expected to make a decision at that time.  We hope to send our registrations to Sewanee by the middle of August, so that we will have materials at our first class.
</p><p>
We meet on Tuesdays from 7-9:30 p.m.  Our first session will be September 8.  We usually end around June 1st.  
</p><p>
EfM is challenging but enjoyable and helps us develop our un­derstanding of our faith and our ministries, so we hope you will con­sider joining us as we journey in faith together.
</p>
<p class="align-right">&mdash;Kathy Schillreff, Rector</p>

