
    <%= simple_form_for(@jubilee_plan) do |f| %>
    
      <%= f.input :title, autofocus: true %>
      <%= f.input :body %>

      <div class="form-actions">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
