<div class="col-md-8 col-md-offset-2">

  <div class="center"></div>
  <h2><%=link_to "Use this link to open the survey results", "https://docs.google.com/forms/d/1ABZ7lBDQaVCbe3q4A1OiS5hUJcVd1HP4gawG1QK-QpI/edit#responses", target: "blank" %></h2>
  <h3 class="center"><small>It may take a few seconds for the page to load. When you see a red line with the notice "not accepting responses," scroll down to view results.</small></h3>
    <div class="mt30"></div>
<!--<iframe src="https://docs.google.com/forms/d/1ABZ7lBDQaVCbe3q4A1OiS5hUJcVd1HP4gawG1QK-QpI/edit#responses" width="760" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>-->
  
  </div>
</div>


<!-- The iframe below is for the initial St. Paul's Survey of 2016
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe95KM-z0aOT5GBkS85Bqq_RCer4eUk-VF3FLzaeVQ7eg8UXA/viewform?embedded=true" width="940" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->
