<%= bootstrap_form_with url: donation_payment_path(@donation), 
  local: true, id: "payment-form", data: { payment_intent_id:
  @payment_intent.client_secret } do |f| %>

  <div>
    <h2>Credit or debit card</h2>
    <div id="card-element">
  </div>

  <div>
    <div>
      <%= f.text_field :name_on_card, placeholder: "Full name" %>
    </div>
    <%= f.hidden_field :payment_intent_id, value: @payment_intent.id %>
    <button class="btn btn-primary">Submit payment</button>
  </div>
  <% end %>