<%= form_with url: donation_payment_path(@donation), local: true, id: "payment-form", data: { payment_intent_id:
 @payment_intent.client_secret } do |f| %>

  <div class="form-group">
    <label for="card-element">Credit or debit card</label>
    <div id="card-element" class="form-control"></div>
  </div>

  <div class="form-group">
    <label> Name on card</label>
    <div class="form-group">
      <%= f.text_field :name_on_card, placeholder: "Name on card", class: "form-control" %>
    </div>
  </div>
    <div id="card-errors" role="alert"></div>
  

  <div class="form-group">
    <%= f.hidden_field :payment_intent_id, value: @payment_intent_id %>
    <button class="btn btn-primary">Submit payment</button>
  </div>
  <% end %>