<div class="row">
  <div class="col col-md-8 col-sm-12 main">
<!--<h1>Searching for a rector</h1>-->
<h1>This page is under construction!</h1>
<p>
What does the parish want in a rector? The search team should be able to synthesize this answer based on reading the parish profile, long-range planning team’s initial report, the ministry portfolio and your own understanding of who we are. This effort will start with a list of attributes, virtues or characteristics of a rector who will make a good fit at St. Paul’s.</p>
<p>
Your job starts with your coming up with six or more attributes or characteristics, each named with one or two words, and each defined in as many words as you need.</p>  
<p>
When all of us have done this, we’ll each read and absorb this information jointly, consolidate the characteristics as appropriate, and agree on definitions.</p>
<p>
Finally we’ll all take a shot at formulating questions whose answers are designed to help us determine whether a candidate fits our needs.
</p>
    <%#= link_to 'Select the attributes you want to see in a new rector', characteristics_path %>
  </div> 

  <div class="col col-md-4 col-sm-12 sidebar">
    <h4>Links to documents</h4>
    <p>
      These are working!</p> 
     <%= link_to "Parish profile", "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1522935596/ParishProfile_vs6vjv.pdf.jpg.pdf" %><br>
     <%= link_to "Parish survey", "https://docs.google.com/forms/d/1ABZ7lBDQaVCbe3q4A1OiS5hUJcVd1HP4gawG1QK-QpI/edit#responses" %>
          <br>
  </div>
</div>
