<p id="notice"><%= notice %></p>

<h1>Searching for a rector</h1>
<p>Here's the set of instructions for getting attributes defined and numerically ranked, using resources of Parish Profile and Portfolio. 
  Also introduce two more informational packets (ten-year trend and demographics)</p>

    <%= link_to 'Select the attributes you want to see in a new rector', characteristics_path %>
      
