
<% if Date.today == start_date..end_date %>

  <% @prayers.where(day_of_prayer: "Tuesday").each do |p| %>
    <% if Time.now.hour == p.pray_time %>
    <p><%= p.name %> is praying at this hour. </p>
    <% end %> 
  <% end %>
<% end %>
