<p>
  Hello,<p>

  <p> There's a new opinion on a candidate for rector.
</p>
<p>
<%= link_to "See that comment here", @url %>
</p>
<p><em>You must log in to read about the candidates.</em> If you forgot your password, <strong>please do not register again, as you are already registered with the role of vestry member.</strong> Instead, hit the line "Forgot your password?" and wait for an email with instructions. </p>
