
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "slick";


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {font-size: 100%}
 body {
  background-image:url("https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1426356142/logos/Saint_Pauls_Logo.gif");
  width : 100%;
  height: 100%;
  text-align:center;
  margin: 0px auto;
}
.page {
 color : #333;
 background-color: #fff;
 border : 1px solid #C0C0C0;
 margin: 0 auto !important;
 padding-bottom:60px;
 min-height:100%;
 font-family : Verdana, Helvetica, Arial, Sans-Serif;
 text-align:left;
}

.main-body {
  padding-right: 36px;

}
.sidebar {
  background-color: #eee;
  padding-right: .9rem;
  margin-top : 1.25rem;
  font-size: 1rem;
  line-height: 1.75;
}

div.hidden {
  display: none;
}

.honey {
  margin-left: -2000px;
  margin-right: 2000px;
}

h1 {
color : #5c004c;
font-size : 3rem;
line-height : 1.25;
font-family : Verdana, Helvetica, Arial, Sans-Serif;
margin-top : 1.25rem;
}
h2 {
color : #5c004c;
font-size : 2.5rem;
margin-top: 1.25 rem;
font-family : Times, Serif;
font-style : italic;
}
h3 {
color : #5c004c;
font-size : 2.5rem;
margin-top: 1.25rem;
font-family : Verdana, Helvetica, Arial, Sans-Serif;
}
h4 {
color : #5c004c;
font-size : 2rem;
font-family : Times, Serif;
margin-top : 1rem;
}
p {
    font-size : 1.3rem;
    line-height: 1.75;
}

.sidebar p{
  font-size: 1.2rem;
  line-height: 1.5;
}
      
p.poem {
    text-indent:0;
    padding-left: 60px;
    font-style:italic;
}
p.chat-name {
  font-size: 1rem;
  font-style: bold;
}
p.owner-edit-links {
  font-size: .6rem;
  line-height: 1;
  margin-top: -1rem;
  padding-right: 300px;
  float: left;
}

p.center-bold-text {
  text-indent: 0;
  text-align: center;
  font-weight: bold;
}

.main-logo {
  float: left;
  margin-bottom: 40px;
}

#faith-button {
  float: left;
  width: 30%;
  margin-top: 36px;
}

#action-button {
  float: left;
  width: 30%;
  margin-top: 36px;
}
#shield {
  float: left;
  width:30%;
  margin: 0, auto;
}

.scroller {
  background-image:url("s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/Composite1.png");
  width: 100%;
  height: 267px;
}

#newsfeed {
  margin-left: 0;
  margin-right: 0;  
}
.floatleft {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
}
.floatright {
    float: right;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer {
    margin-top: 10px;
    width:100%;
    text-align: center;
}

.clearall {
  clear: both;
}
.image-center {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.center-image {
  display: block;
  margin: 0, auto;
}
.text-center{
  margin-left:auto;
  margin-right:auto
}
.center-text{
  margin: 0, auto;
}
.update-logo {
  position:relative;
}
.update-logo img{
  position: absolute;
  -webkit-transition: opacity is ease-in-ease-out;
  -moz-tansition: opacity is ease-in-out;
  -o-transition: opacity is ease-in-out;
  transition: opacity is ease-in-out;
}
.update-logo img.top:hover {
  opacity:0;
}

.underConstruction {
  margin-left: 350px;
  margin-top: 70px;
  width: 350px;
  border-width: 1px solid black;
  padding: 8px;
}
.meditation-count {
  color: white;
  font-size: .75rem;
  margin-top: -23px;
  margin-left: 5px;
  z-index: 1000;
}


.talk-box {
  float:right;
  margin:15px;
  height:225px;
  width:375px;
  padding:10px 10px 10px 10px;
  border:solid black;
  text-align:center;
  font-family : Verdana, Helvetica, Arial, Sans-Serif;
  font-size : 1.125rem;
  line-height: 1.5;
}


.sermon p {
  font-size: 1.5rem;
  line-height: 1.75;
  font-family: Times, serif;
  text-align: left;
}
.sermon-box {
  float:right;
  margin-left:10px;
  height:235px;
  width:475px;
  padding:6px;
  border-style: solid;
  border-width: 1px;
  text-align:center;
} 
.sermon-picture {
  float:left;
  margin:10px;
  display:block;
}

.formation-box {
  float:right;
  margin-left: 30px;
  width: 350px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

.align-right {
  text-align: right;
}
#back_to_index {
  position:absolute;
  margin-left: 600px;
  margin-top: -60px;
}
#opportunity-header {
  text-decoration: underline;   
}
.chat-name {
  font-size: 1rem;
  float: left;
}
#notice {
  color: green;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
    h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: .75rem;
      margin: -7px;
      margin-bottom: 0px;
      background-color: #c00;
      color: #fff;
    }
    ul li {
      font-size: .75rem;
      list-style: square;
  }
}
.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .9rem;
  line-height: 1.25;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.post-items{
  list-style: none;
}
.create-post, .create-vreport, .create-story_idea, .create-jubilee{
  width: 100%;
  height: 140px;
  border: 1px;
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
}
.btn-custom {
  cursor: pointer;
  text-decoration:none;
  border: 1px solid rgb(102, 0, 0);
  padding: 4px 10px 4px 10px;
  color:rgb(255, 255, 255);
  font-size: 1.5rem;
  font-family:arial, serif;
  text-shadow: 2px 2px #090974 rgb(0, 0, 0);
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  box-shadow:0px 0px 0px rgb(0, 0, 0);
  -moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
  -webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
  background-color: rgb(209, 16, 61);
  background-image:linear-gradient(-90deg, rgb(209, 16, 61), rgb(102, 0, 0));
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(209, 16, 61)), to(rgb(102, 0, 0)));
  background-image:-moz-linear-gradient(-90deg, rgb(209, 16, 61), rgb(102, 0, 0));
}
.btn-custom:hover{
  cursor: pointer;
  text-decoration:none;
  border: 1px solid rgb(102, 0, 0);
  padding: 4px 10px 4px 10px;
  color:rgb(255, 255, 255);
  text-shadow: 2px 2px #090974 rgb(0, 0, 0);
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  box-shadow:0px 0px 0px rgb(0, 0, 0);
  -moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
  -webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
  background-color: rgb(51, 153, 0);
  background-image:linear-gradient(-90deg, rgb(0, 153, 0), rgb(51, 0, 0));
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(0, 153, 0)), to(rgb(51, 0, 0)));
  background-image:-moz-linear-gradient(-90deg, rgb(0, 153, 0), rgb(51, 0, 0));
}
.btn-custom:active{
  cursor: pointer;
  text-decoration:none;
  border: 1px solid rgb(102, 0, 0);
  padding: 4px 10px 4px 10px;
  color:rgb(255, 255, 255);
  text-shadow: 2px 2px #090974 rgb(0, 0, 0);
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  box-shadow:0px 0px 0px rgb(0, 0, 0);
  -moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
  -webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
  background-color: rgb(51, 153, 0);
  background-image:linear-gradient(-90deg, rgb(0, 153, 0), rgb(51, 0, 0));
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(0, 153, 0)), to(rgb(51, 0, 0)));
  background-image:-moz-linear-gradient(-90deg, rgb(0, 153, 0), rgb(51, 0, 0));
}

.btn-modal-footer {
  width: 100px;
  height: 100px
}

.btn {
  margin: 2em;
}

.default-avatar{
  padding-top: 12px;
  text-align: center;
  color: red;
  width: 90px;
  height: 110px;
  border: 1px solid black;
  float: left;
  margin-right: 6px;
}
.big-avatar-missing{
  width: 200px;
  height: 260px;
  padding-top: 130px;
  text-align: center;
  color: red;
  border: 2px solid black;
  float: left;
  margin-right: 12px;
}
.mt30 {
  margin-top: 30px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt100 {
  margin-top: 100px;
}
.mt-100 {
  margin-top: -100px;
}
.mt150{
  margin-top: 150px;
}
.scroll-to-bottom {
  position:fixed;
  margin-left: 400px;
  margin-top: 30px;
  width: 250px;
  border: 2px solid black;
  padding: 12px;
}
.comment-user {
  color: gray;
  font-size: .9rem;
  float: right;
}
.poster-name {
  font-size: 1rem;
}
.upload_picture {
  width: 300px;
  float: left;
}
.upload_photos {
  width: 300px;
  float: left;
}
.submit-post, .submit-vreport {
  margin-left: 200px;
}
#myModal {
  margin-top: 160px;
  }
.edit-delete-show {
  font-size: .75rem;
}  