
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 
 
 *= require_tree .
 *= require social-share-button
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap.min";
@import "slick";
@media (min-width:992px)
 {
    .container{width:970px}
  }
@media (min-width:1200px)
  {
    .container{width:970px}
  }  

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

 body {
  background-image:url("https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1426356142/logos/Saint_Pauls_Logo.gif");
  width : 100%;
  height: 100%;
  text-align:center;
  margin: 0px auto;
}
.page {
 width: 970px;
 color : #333;
 background-color: #fff;
 border : 1px solid #C0C0C0;
 margin: 0 auto !important;
 padding-bottom:60px;
 min-height:100%;
 font-family : Verdana, Helvetica, Arial, Sans-Serif;
 text-align:left;
}
.header {
  width: 100%;
  height: 140px;
}
.main-body {
  padding-right: 36px;
}
.sidebar {
  background-color: #eee;
  padding-right: 8px;
}

div.hidden {
  display: none;
}

h1 {
color : #5c004c;
font-size : 36px;
letter-spacing: -1px;
line-height : 100%;
font-family : Verdana, Helvetica, Arial, Sans-Serif;
margin-top : 14px;
margin-bottom : 3px;
}
h2 {
color : #5c004c;
font-size : 30px;
font-family : Times, Serif;
font-style : italic;
}
h3 {
color : #5c004c;
font-size : 24px;
margin-top: 10px;
font-family : Verdana, Helvetica, Arial, Sans-Serif;
}
h4 {
color : #5c004c;
font-size : 18px;
font-family : Times, Serif;
margin-top : 8px;
}
p {
    text-indent: 20px;
    font-size : 16px;
    line-height:24px;
}
      
p.poem {
    text-indent:0;
    padding-left: 60px;
    font-style:italic;
}
p.chat-name {
  font-size: 14pt;
  font-style: bold;
}
p.owner-edit-links {
  font-size: 7px;
  line-height: 10px;
  margin-top: -15px;
  padding-right: 300px;
  float: left;
}

p.center-bold-text {
  text-indent: 0;
  text-align: center;
  font-weight: bold;
}

#home-logo {
    float:left;
    margin-left: 10px;
    margin-top: 20px; 
}
#menu-one, #menu-two, #menu-three {
  margin-top: 70px;
  float: left;
  margin-left: 135px;
  position: relative;
  z-index:1000;
  list-style-type: none;
}

#special-menu-four {
    margin-left: 485px;
    margin-top: -40px;
    margin-bottom: 60px;  
}
.submenu  {
background: white;
font-size: 12px;
color: black;
text-shadow: none;
width:175px;
margin-left: -20px;
padding: 10px;
display: none;
list-style-type: none;
}

#menu-one:hover .submenu {
    display: block;
    position:absolute;
    z-index:3000; 
 }
 #menu-two:hover .submenu {
    display: block;
    position:absolute;
    z-index:3000; 
 }
 #menu-three:hover .submenu {
    display: block;
    position:absolute;
    z-index:3000; 
 }  
#menu-four {
    margin-left: 525px;
    padding-top: 50px;
}
#menu-five {
    float:right;
    margin-right: 45px;
}

.dropdown-menu ul {
  list-style: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  }
.dropdown-menu li {
  display: block;
  position: relative;
  float: left; border: 1px solid #000;
}


.scroller {
  background-image:url("s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/Composite1.png");
  width: 842px;
  height: 267px;
}

#newsfeed {
  margin-left: 0;
  margin-right: 0;  
}
.floatleft {
    float: left;
    padding: 8px;
}
.floatright {
    float: right;
    padding: 8px;
}
.footer {
    margin-top: 10px;
    width:100%;
    text-align: center;
}

.clearall {
  clear: both;
}
.image-center {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.text-center{
  margin-left:auto;
  margin-right:auto
}
.underConstruction {
  margin-left: 350px;
  margin-top: 70px;
  width: 350px;
  border-width: 1px solid black;
  padding: 8px;
}

#dropdown1 #dropdown2 {
  float:left;
  margin-right: 20px;
  margin-top: 40px;
}

.talk-box {
  float:right;
  margin:15px;
  height:225px;
  width:375px;
  padding:10px 10px 10px 10px;
  border:solid black;
  text-align:center;
  font-family : Verdana, Helvetica, Arial, Sans-Serif;
  font-size : 14px;
  line-height:18px;
}
.sermon-page {
  width: 850px;
  background-color : #fff;
  margin: 0 auto !important;
  padding-left: 40px;
  padding-right: 40px;
  text-align:left;
}
.sermon-page p {
  font-size: 22px;
  line-height: 33px;
  font-family: Times, serif;
}

.sermon-text {
  font-size: 22px;
  line-height: 33px;
  font-family: Times, serif;
}
.sermon-box {
  font-size: 17px;
  float:right;
  margin:10px;
  height:190px;
  width:375px;
  padding:6px;
  border-style: solid;
  border-width: 1px;
  text-align:center;
} 
.sermon-picture {
  float:left;
  margin:10px;
  display:block;
}
.align-right {
  text-align: right;
}
#back_to_index {
  position:absolute;
  margin-left: 600px;
  margin-top: -60px;
}
#opportunity-header {
  text-decoration: underline;   
}
.chat-name {
  font-size: 20px;
  float: left;
}
#notice {
  color: green;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
    h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: 12px;
      margin: -7px;
      margin-bottom: 0px;
      background-color: #c00;
      color: #fff;
    }
    ul li {
      font-size: 12px;
      list-style: square;
  }
}
.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.post-items{
  list-style: none;
}
.create-post, .create-vreport, .create-story_idea {
  width: 100%;
  height: 140px;
  border: 1px;
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
}
.btn-custom {
  cursor: pointer;
  text-decoration:none;
  border: 1px solid rgb(102, 0, 0);
  padding: 4px 10px 4px 10px;
  color:rgb(255, 255, 255);
  font-size:20px;
  font-family:arial, serif;
  text-shadow: 2px 2px #090974 rgb(0, 0, 0);
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  box-shadow:0px 0px 0px rgb(0, 0, 0);
  -moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
  -webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
  background-color: rgb(209, 16, 61);
  background-image:linear-gradient(-90deg, rgb(209, 16, 61), rgb(102, 0, 0));
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(209, 16, 61)), to(rgb(102, 0, 0)));
  background-image:-moz-linear-gradient(-90deg, rgb(209, 16, 61), rgb(102, 0, 0));
}
.btn-custom:hover{
  cursor: pointer;
  text-decoration:none;
  border: 1px solid rgb(102, 0, 0);
  padding: 4px 10px 4px 10px;
  color:rgb(255, 255, 255);
  font-size:20px;
  font-family:arial, serif;
  text-shadow: 2px 2px #090974 rgb(0, 0, 0);
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  box-shadow:0px 0px 0px rgb(0, 0, 0);
  -moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
  -webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
  background-color: rgb(51, 153, 0);
  background-image:linear-gradient(-90deg, rgb(0, 153, 0), rgb(51, 0, 0));
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(0, 153, 0)), to(rgb(51, 0, 0)));
  background-image:-moz-linear-gradient(-90deg, rgb(0, 153, 0), rgb(51, 0, 0));
}
.btn-custom:active{
  cursor: pointer;
  text-decoration:none;
  border: 1px solid rgb(102, 0, 0);
  padding: 4px 10px 4px 10px;
  color:rgb(255, 255, 255);
  font-size:20px;
  font-family:arial, serif;
  text-shadow: 2px 2px #090974 rgb(0, 0, 0);
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  box-shadow:0px 0px 0px rgb(0, 0, 0);
  -moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
  -webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
  background-color: rgb(51, 153, 0);
  background-image:linear-gradient(-90deg, rgb(0, 153, 0), rgb(51, 0, 0));
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(0, 153, 0)), to(rgb(51, 0, 0)));
  background-image:-moz-linear-gradient(-90deg, rgb(0, 153, 0), rgb(51, 0, 0));
}
.default-avatar{
  padding-top: 12px;
  text-align: center;
  color: red;
  width: 90px;
  height: 110px;
  border: 1px solid black;
  float: left;
  margin-right: 6px;
}
.big-avatar-missing{
  width: 200px;
  height: 260px;
  padding-top: 130px;
  text-align: center;
  color: red;
  border: 2px solid black;
  float: left;
  margin-right: 12px;
}
.mt30 {
  margin-top: 30px;
}
.mt50 {
  margin-top: 50px;
}
.mt100 {
  margin-top: 100px;
}
.scroll-to-bottom {
  position:fixed;
  margin-left: 400px;
  margin-top: 30px;
  width: 250px;
  border: 2px solid black;
  padding: 12px;
}
.time-ago {
  font-size: 8px;
  color: gray;
}
.edit-delete-line {
  font-size: 12px;
  color: gray;
  line-height: 14px;
}
.upload_picture {
  width: 300px;
  float: left;
}
.upload_photos {
  width: 300px;
  float: left;
}
.submit-post, .submit-vreport {
  margin-left: 200px;
}
#myModal {
  margin-top: 160px;
  }