
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

 body {
  background-image:url("https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1426356142/logos/Saint_Pauls_Logo.gif");
  width : 100%;
  height: 100%;
  text-align:center;
  margin: 0px auto;
}
.page {
 width: 920px;
 color : #333;
 background-color: #fff;
 border : 1px solid #C0C0C0;
 margin: 0 auto !important;
 padding-bottom:60px;
 padding-left:15px;
 padding-right:15px;
 min-height:100%;
 font-family : Verdana, Helvetica, Arial, Sans-Serif;
 text-align:left;
}
.header {
  width: 100%;
  height: 140px;
}
.main-body {
  width: 64%;
  float: left;
  padding-right: 15px;
}
.sidebar {
  width: 34%;
  background-color: #eee;
  margin-left: 15px;
  margin-top: 20px;
  padding-left: 7px;
  padding-right:7px;
  float:right;
}
h1 {
color : #5c004c;
font-size : 30px;
letter-spacing: -1px;
line-height : 100%;
font-family : Verdana, Helvetica, Arial, Sans-Serif;
margin-top : 14px;
margin-bottom : 3px;
}
h2 {
color : #5c004c;
font-size : 24px;
font-family : Times, Serif;
font-style : italic;
}
h3 {
color : #5c004c;
font-size : 20px;
margin-top: 10px;
font-family : Verdana, Helvetica, Arial, Sans-Serif;
}
h4 {
color : #5c004c;
font-size : 18px;
font-family : Times, Serif;
margin-top : 8px;
}
p {
    text-indent: 20px;
    font-size : 14px;
    line-height:23px;
}
p.poem {
    text-indent:0;
    padding-left: 60px;
    font-style:italic;
}
p.chat-name {
  font-size: 14pt;
  font-style: bold;
}
p.owner-edit-links {
  font-size: 7px;
  line-height: 10px;
  margin-top: -15px;
  padding-right: 300px;
  float: left;
}
.comment {
  margin-left: 50px;
}
p.owner-comment-links {
  font-size: 8px;
  line-height: 10px;
  margin-top: -10px;
  float: right;
}
a {text-decoration: none;}
#home-logo {
    float:left;
    margin-left: 10px;
    margin-top: 20px; 
}
#menu-one, #menu-two, #menu-three {
  margin-top: 40px;
  float: left;
  margin-left: 12px;
  position: relative;
  z-index:1000;
  list-style-type: none;
}
#menu-one{
    width: 135
    px;
}
#menu-two {
  width: 170px;
}
#menu-three {
  width: 19
  0px;
}
#special-menu-four {
    margin-left: 485px;
    margin-top: -40px;
    margin-bottom: 60px;  
}
.submenu  {
background: white;
font-size: 12px;
color: black;
text-shadow: none;
width:175px;
margin-left: -20px;
padding: 10px;
display: none;
list-style-type: none;
}

#menu-one:hover .submenu {
    display: block;
    position:absolute;
    z-index:3000; 
 }
 #menu-two:hover .submenu {
    display: block;
    position:absolute;
    z-index:3000; 
 }
 #menu-three:hover .submenu {
    display: block;
    position:absolute;
    z-index:3000; 
 }  
#menu-four {
    margin-left: 525px;
    padding-top: 50px;
}
#menu-five {
    margin-left: 505px;
    margin-top: -15px;
}
#slideshow > div { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    opacity: .99;
}
#slideshow { 
    margin: 20px auto; 
    position: relative; 
    width: 842px; 
    height: 258px; 
    padding: 0; 
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}


.floatleft {
    float: left;
    padding: 8px;
}
.floatright {
    float: right;
    padding: 8px;
}
.footer {
    margin-top: 10px;
    width:100%;
    text-align: center;
}

.clearall {
  clear: both;
}
.image-center {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.button {
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  color:rgb(255, 255, 255);
  font-size:20px;
  font-family:arial, serif;
  text-shadow: 2px 2px rgb(0, 0, 0);
  border: 1px solid rgb(102, 0, 0);
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  box-shadow:0px 0px 0px rgb(0, 0, 0);
  -moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
  -webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
  background-color: rgb(209, 16, 61);
  background-image:linear-gradient(-90deg, rgb(209, 16, 61), rgb(102, 0, 0));
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(209, 16, 61)), to(rgb(102, 0, 0)));
  background-image:-moz-linear-gradient(-90deg, rgb(209, 16, 61), rgb(102, 0, 0));
}
.button:hover{
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  color:rgb(255, 255, 255);
  font-size:20px;
  font-family:arial, serif;
  text-shadow: 2px 2px rgb(0, 0, 0);
  border: 1px solid rgb(102, 0, 0);
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  box-shadow:0px 0px 0px rgb(0, 0, 0);
  -moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
  -webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
  background-color: rgb(51, 153, 0);
  background-image:linear-gradient(-90deg, rgb(0, 153, 0), rgb(51, 0, 0));
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(0, 153, 0)), to(rgb(51, 0, 0)));
  background-image:-moz-linear-gradient(-90deg, rgb(0, 153, 0), rgb(51, 0, 0));
}
.button:active{
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  color:rgb(255, 255, 255);
  font-size:20px;
  font-family:arial, serif;
  text-shadow: 2px 2px rgb(0, 0, 0);
  border: 1px solid rgb(102, 0, 0);
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  box-shadow:0px 0px 0px rgb(0, 0, 0);
  -moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
  -webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
  background-color: rgb(51, 153, 0);
  background-image:linear-gradient(-90deg, rgb(0, 153, 0), rgb(51, 0, 0));
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(0, 153, 0)), to(rgb(51, 0, 0)));
  background-image:-moz-linear-gradient(-90deg, rgb(0, 153, 0), rgb(51, 0, 0));
}
.talk-box {
  float:right;
  margin:15px;
  height:225px;
  width:375px;
  padding:10px 10px 10px 10px;
  border:solid black;
  text-align:center;
  font-family : Verdana, Helvetica, Arial, Sans-Serif;
  font-size : 14px;
  line-height:18px;
}
.sermon-page {
  width: 850px;
  background-color : #fff;
  margin: 0 auto !important;
  padding-left: 40px;
  padding-right: 40px;
  text-align:left;
  font-size : 18px;
  line-height:27px;
}
.sermon-page p {
  font-size: 18px;
  line-height: 27px;
  font-family: Times, serif;
}

.sermon-box {
  float:right;
  margin:10px;
  height:190px;
  width:375px;
  padding:6px;
  border-style: solid;
  border-width: 1px;
  text-align:center;
  font-family: Verdana, Helvetica, Arial, Sans-Serif;
} 
 
.sermon-picture {
  float:left;
  margin:10px;
  display:block;
}
#back_to_index {
  position:absolute;
  margin-left: 600px;
  margin-top: -60px;
}
#opportunity-header {
    text-decoration: underline;   
  }

.chat-name {
  font-size: 20px;
  float: left;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.post-items{
  list-style: none;
}

  ul.wysihtml5-toolbar {
  margin: 0;
  padding: 0;
  display: block;
}

ul.wysihtml5-toolbar::after {
  clear: both;
  display: table;
  content: "";
}

ul.wysihtml5-toolbar > li {
  float: left;
  display: list-item;
  list-style: none;
  margin: 0 5px 10px 0;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=bold] {
  font-weight: bold;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=italic] {
  font-style: italic;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=center] {
  text-align: center;
}

ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #E6E6E6;
  background-color: #D9D9D9 9;
  outline: 0;
}

ul.wysihtml5-commands-disabled .dropdown-menu {
  display: none !important;
}

.create-post {
  width: 80%;
  height: 140px;
  border: 1px;
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
}
.add-comment {
  color: #bbb;
  text-align: right;
}
.comment-author {
  color: #bbb;
  text-align: right !important;
}
ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul li {
  list-style: none;
  margin-bottom: 25px;
}
ul li img {
  cursor: pointer;
}
.grassy {
  color: #00ff00;
}
.pledge-number {
  font-size: 8em;
  color: #B8B8B8;
  float: left;
  margin-top: 40px;
}
.pledge-text {
  margin-top: 60px;
}