/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require actiontext
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&lang=en");
@import "font-awesome";
// @import "bootstrap";
@import "rails_bootstrap_forms";
@import "devise_bootstrap_form";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html {font-size: 100%}
 body {
  background-image:url("https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1426356142/logos/Saint_Pauls_Logo.gif");
  width : 100%;
  height: 100%;
  text-align:center;
  margin: 0px auto;
}

a:link {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: underline;
}

.page {
 color : #333;
 background-color: #fff;
 border : 1px solid #C0C0C0;
 margin: 0 auto !important;
 padding-bottom:60px;
 min-height:100%;
 font-family : Verdana, Helvetica, Arial, Sans-Serif;
 text-align:left;
 max-width: 1200px;
}

.main-body {
  padding-right: 36px;
}
.sidebar {
  background-color: #eee;
  padding-right: .9rem;
  margin-top : 1.25rem;
  font-size: 1rem;
  line-height: 1.62;
}
.grid-container {
  display: grid;
  grid-gap: 36px;
}
div.hidden {
  display: none;
}

.honey {
  margin-left: -2000px;
  margin-right: 2000px;
  height: 15px;
}
@media (max-width: 500px) {
  .nonmobile {
  display: none;
  }
}
@media (min-width: 501px) {
  .mobile {
  display: none;
  }
}

@media (min-width: 768px) {
  .header-row {
    max-width: 1200px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;

  }
  .road-sign {
    order:1;
    flex-basis:1;
  }
  .main-logo {
    order:2;
    flex-basis: 4;
  }
  .shield {
    order: 3;
    flex-basis: 1;
 }
}
.second-line {
  margin-top: -18px;
}
@media (max-width: 767px) {
  .header-row {
    margin: 20px auto 0 auto;
    display: grid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
   .main-logo {
      flex-basis: 5;
      order: 1;
    }
    .road-sign {
      flex-basis: 1;
      width: 70px;
      order: 2;
    }
    .shield {
      flex-basis: 1;
      width: 70px;
      order: 3;
   }
  /*.collapse {
    display: none !important;
  }*/
}

h1 {
color : #5c004c;
font-size : 3rem;
line-height : 1.25;
font-family : Verdana, Helvetica, Arial, Sans-Serif;
margin-top : 1.25rem;
}
h1.biggest {
  font-size: 6rem;
}
h2 {
color : #5c004c;
font-size : 2.5rem;
margin-top: 1.25 rem;
font-family : Times, Serif;
font-style : italic;
}
h3 {
color : #5c004c;
font-size : 2.5rem;
margin-top: 1.25rem;
font-family : Verdana, Helvetica, Arial, Sans-Serif;
}
h4 {
color : #5c004c;
font-size : 2rem;
font-family : Times, Serif;
margin-top : 1rem;
}
p {
    font-size : 1.3rem;
    line-height: 1.62;
    margin-bottom: 15px;
}
p.tiny {
  font-size: .75rem;
  line-height: 1.1;
  margin-top: -5px;
}

.sidebar p{
  font-size: 1.2rem;
  line-height: 1.5;
}

.poem {
    text-indent:0;
    padding-left: 60px;
    font-style:italic;
}
.chat-name {
  font-size: 1rem;
  font-style: bold;
}
.owner-edit-links {
  font-size: .6rem;
  line-height: 1;
  margin-top: -1rem;
  padding-right: 300px;
  float: left;
}

.center-bold-text {
  text-indent: 0;
  text-align: center;
  font-weight: bold;
}

.timeblock {
  width: 188px;
  border-style: outset;
  border-width: medium;
  border-color: gray;
  float: left;
  margin-right: 5px;
}

.scroller {
  background-image:url("s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/Composite1.png");
  width: 100%;
  height: 267px;
}

#newsfeed {
  margin-left: 0;
  margin-right: 0;
}
.floatleft {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
}
.floatright {
    float: right;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer {
    margin-top: 10px;
    width:100%;
    text-align: center;
}

.clearall {
  clear: both;
}
.image-center {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.center-image {
  display: block;
  margin: 0, auto;
}
.text-center{
  margin-left:auto;
  margin-right:auto;
}
.center-text{
  margin-left:auto;
  margin-right:auto;
}
.update-logo {
  position:relative;
}

.trix-content.form-control {
  min-height: 300px !important;
  overflow-y: auto !important; 
}

.sermon {
  font-size: 1.5rem;
  line-height: 1.62;
  font-family: Times, serif;
}
.sermon-box {
    float:right;
    margin:15px;
    height:225px;
    width:450px;
    padding:10px 10px 10px 10px;
    border:solid black;
    text-align:center;
    font-family : Verdana, Helvetica, Arial, Sans-Serif;
    font-size : 1.125rem;
    line-height: 1.5;
}
.sermon-picture {
  float:left;
  margin:10px;
  display:block;
}

.formation-box {
  float:right;
  margin-left: 30px;
  width: 350px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

.center-button {
  margin-left: 0;
  margin-right: 0;
}

.newspaper  {
    ul {
  display: block;
  }
  ul li{
  list-style-type: none;
  display:inline-block;
  width: 33%;
  }
}
.align-right {
  text-align: right;
}
#back_to_index {
  position:absolute;
  margin-left: 600px;
  margin-top: -60px;
}
#opportunity-header {
  text-decoration: underline;
}
.chat-name {
  font-size: 1rem;
  float: left;
}
#notice {
  color: green;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
    h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: .75rem;
      margin: -7px;
      margin-bottom: 0px;
      background-color: #c00;
      color: #fff;
    }
    ul li {
      font-size: .75rem;
      list-style: square;
  }
}

.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .9rem;
  line-height: 1.25;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.post-items{
  list-style: none;
}
.create-post, .create-vreport, .create-story_idea, .create-jubilee{
  width: 100%;
  height: 180px;
  border: 1px;
  border: 1px solid gray;
  padding: 4px;
  text-align: center;
}
.default-avatar{
  padding-top: 6px;
  text-align: center;
  color: red;
  width: 110px;
  height: 160px;
  border: 1px solid black;
  float: left;
  margin-right: 14px;
}
.big-avatar-missing{
  width: 240px;
  height: 310px;
  padding-top: 5px;
  text-align: center;
  color: red;
  border: 2px solid black;
  float: left;
  margin-right: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mt-20 {
  margin-top: -20px;
}
.mt30 {
  margin-top: 30px;
}
.mt-30 {
  margin-top: -30px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt100 {
  margin-top: 100px;
}
.mt-100 {
  margin-top: -100px;
}
.mt150{
  margin-top: 150px;
}
.scroll-to-bottom {
  position:fixed;
  margin-left: 400px;
  margin-top: 30px;
  width: 250px;
  border: 2px solid black;
  padding: 12px;
}
.comment-user {
  font-size: .9rem;
  float: right;
  margin-top: -30px;
}
.poster-name {
  font-size: 1rem;
}
.upload_picture {
  width: 300px;
  float: left;
}
.upload_photos {
  width: 300px;
  float: left;
}
.submit-post, .submit-vreport {
  margin-left: 200px;
}
#myModal {
  margin-top: 160px;
  }
.edit-delete-show {
  font-size: .75rem;
}

.navbar-custom {
  height: 64px;
  width: 100%;
  margin-bottom: 40px;
  background-color: #0d4884;
  color: #ffffff
}

.navbar-custom .nav-item:active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: white;
}
.navbar-brand {
  width: 35%;
  font-size: 1rem;
  color: #ffffff;
}
.text-white {
  color: #ffffff;
}

.navbar-toggler-icon {
  padding: 30px;
}

.fa.fa-navicon {
  color: white;
  font-size: 35px;
  margin-right: 40px;
}

#content-desktop {
  display: inline;
}
#content-mobile {
  display: none;
}

@media only screen and(max-width: 800px) {

  #content-desktop {
  display: none;
  }
  #content-mobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color:  #0d4884;
  width: 100%;
  margin-bottom: 20px;
  }
}
