.comments-user, .vreports-user{
  color: #808080;
  float: right;
  font-size: 14px;
  margin-top: -12px;
} 
.comments-body,  .vreports-body{
  margin-left : 130px;
  font-size: 16px;
  color: black;
}

.comment-form, .vreport-form{
  width: 400px;
  height: auto;
  padding-left: 130px;
}
.default-comment-avatar, .default-vreport-avatar{
  margin: 5px;
  padding-top: 6px;
  text-align: center;
  text-indent: 0;
  color: red;
  font-size: 8px;
  width: 45px;
  height: 55px;
  border: 1px solid gray;
  float: left;
  margin-right: 6px;
}