
 <div class="mt50"></div>
<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">

    <%= form_with url: albergue_charges_path, id: "payment-form", local: true, { payment_intent_id: @payment_intent.client_secret } do |form| %>
    <div class="form-group">
      <label for="card-element">
      <%= form.text_field :name_on_card, placeholder: "Full name", class: "form-control" %>
       <p><strong> Enter your credit or debit card information:</strong></p>
      </label>
      <div id="card-element">
        <!-- a Stripe Element will be inserted here. -->
      </div>

      <!-- Used to display form errors -->
      <div id="card-errors" role="alert"></div>
    </div>

    <input type="submit" class="submit btn btn-success btn-lg" value="Submit Payment">

  <% end %>
     <div class="mt100"></div>
    </div>
  </div>
