<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-md-2">

<h1>Upcoming activities at St. Paul's</h1>

<h2>Episcopal Church Women</h2>
<%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/ecwLogo.jpg", class: "floatright", width: "150") %>
<p>ECW includes all women of the church, and supports and organizes many activities that enhance the social and spiritual lives of everyone in the community. ECW meets on the first Wednesday of October through May, at 9:30 a.m. </p><p>ECW is responsible for our wonderful Gift Shop, run by Susan Larson, Marilyn Perry and their volunteers; and the Unique Boutique, run by Donna Nidds and volunteers.
</p><br>
 <!-- <h2>Art Hale Movie Night</h2>
<%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/filmStrip.jpg", class: "floatleft", width: "110") %>

  <p><b>Movie Night </b>is the second Tuesday of the month, 6:30 p.m. in the library, during season (October to May). Typically, we watch a film and discuss its messages and implications.  </p>
<p><em>Art Hale Movie Night</em> is named in honor of a parishioner who spearheaded movie nights at St. Paul's. Art died unexpectedly in 2009.</p><br> -->

<h1>Other Activities at St. Paul's</h1>

<h2>Weekly Activities</h2>

 <p><em><b>Line Dancing Classes</b></em> are offered Tuesdays at 10 a.m. in Trinity Hall. For information call Deana, 239-353-1760. Classes will resume in the Fall.</p> 
<

<p><em><b>Episcopal Church Women Crafters</b></em> Thursdays 9:30 a.m., no crafting experience required, Serson Hall.</p>

<p><em><b>AA Young Adults</b></em> meet Wednesdays at 6:30 p.m. in Trinity Hall.

<p><em><b>God's Gardeners</b></em>  Thursdays approximately 7:30 a.m. to noon. Group works on the church grounds and facilities inside and out, men and women welcome, meet in the church parking lot.</p>

<p><em><b>Yoga*</b></em> Mondays and Fridays at 9 a.m. in Trinity Hall.  </p>

<p><em><b>Tai Chi Exercise*</b></em>: Fridays at 10:30 a.m. for beginners.</p>
<p><em><b>Yang Style Tai Chi Form*</b></em>: Fridays at 11:15 a.m.</p>
<p>* There is a small fee for yoga and tai chi. Contact Ann for more information at 682-4575 or by email: yoganni@yahoo.com</p> 

<p><em><b>A Women's Way Through the Twelve Steps</b></em> Fridays 5:30 p.m., freewill offering, Trinity Hall (For information please call Carol at 775-5929 or Barbara at 398-3936.)</p>

<h2><%= link_to "For Spiritual Activities, click here", worship_index_path %></h2>

</div></div></div>
