<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
<h1>Upcoming activities at St. Paul's</h1>

<h2>Men's Group</h2>
<p> Friday fellowship  meetings of the men of the parish begin at 7:30 a.m. in season (October to May). This informal group under the guidance of Fr. Frank welcomes all men of St. Paul's to break bread (pastries) and share some good conversations.  The first Friday of each month we share Eucharist before getting down to conversations.  Suggestions of speakers are welcome.   It is a cordial group that would like to include you!</p>
<br>
<h2>Episcopal Church Women</h2>
<%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/ecwLogo.jpg", class: "floatright", width: "150") %>
<p>ECW includes all women of the church, and supports and organizes many activities that enhance the social and spiritual lives of everyone in the community. ECW meets on the first Wednesday of October through May, at 9:30 a.m. </p><p>ECW is responsible for our wonderful Gift Shop, run by Susan Larson and her volunteers; and the Unique Boutique, run by Marion Kennedy and volunteers.
</p><br>
 <h2>Art Hale Movie Night</h2> 
<%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/filmStrip.jpg", class: "floatleft", width: "110") %>

  <p><b>Movie Night </b>is the second Tuesday of the month, 6:30 p.m. in the library, during season (October to May). Typically, we watch a film and discuss its messages and implications.  </p>
<p><em>Art Hale Movie Night</em> is named in honor of a parishioner who spearheaded movie nights at St. Paul's. Art died unexpectedly in 2009.</p><br>
   
<h1>Other Activities at St. Paul's</h1>

<h2>Weekly Activities</h2>

<p><em><b>AA meets at St Paul's </b></em>Mondays 7 p.m., Trinity Hall.</p>

<p><em><b>Line Dancing Classes</b></em> are offered Tuesdays at 10 a.m. in Trinity Hall.</p>


<p><em><b>Episcopal Church Women Crafters</b></em> Wednesdays 9:30 a.m., no crafting experience required, Serson Hall.</p>

<p><em><b>AA Youth Group</b></em> meets Wednesdays at 7 p.m. in Trinity Hall.

<p><em><b>God's Gardeners</b></em>  Thursdays approximately 7:30 a.m. to noon. Group works on the church grounds and facilities inside and out, men and women welcome, meet in the church parking lot.</p>

<p><em><b>Yoga*</b></em>Mondays and Fridays at 9 a.m. in Trinity Hall.  </p>

<p><em><b>Tai Chi Exercise*</b></em>: Fridays at 10:30 a.m.</p>
<p><em><b>Tai Chi Form*</b></em>:  Mondays and Fridays at 11:30 a.m.</p>
<p>* There is a $5 fee for yoga and tai chi. Contact Ann for more information at 682-4575 or by email: yoganni@yahoo.com</p>
 
<p><em><b>A Women's Way Through the Twelve Steps</b></em> Fridays 5:30 p.m., freewill offering, Trinity Hall (For information please call Carol at 775-5929 or Barbara at 398-3936.)</p>

<h1><%= link_to "For Spiritual Activities, click here.", worship_index_path %></h1>
 
</div></div></div>