<p> <%= @shot.first_name %> <%= @shot.last_name %> has an appointment at <%= @shot.shot_time %> Saturday, May 1, 2021 at Saint Paul's Episcopal Church, 3901 Davis Blvd. to be innoculated against Covid-19.</p>
<p>Please wear a mask and come about 15 minutes before your appointment. The team of volunteer church members and the professional medical staff will do their best to get you on your way rapidly (but you must wait a spell after the shot to ensure you haven't had an adverse reaction).</p>
<p>Thank you for your participation in this effort to arrest this terrible epidemic. You can further help by letting your friends and neighbors know that there are more shots available than there are registrants, and that we will be open to walk-ins beginning around 10 a.m.</p>
<p>May God bless you and keep you and your loved ones safe.</p><br>
<p class="text-center"><strong>Your friends at Saint Paul's</strong></p>
