<h1>Spiritual studies series</h1>
<p>This will be six weeks, either Wednesday evening or Sunday between 
the services, studying the Gospel of Luke.</p>
<p>We will use a study guide prepared by the Rev. C. D. "Jimmy" Agan. It is available on Amazon for less than $9. 
Our rector, the Rev. Dr. Tom Thoeni, will facilitate. Sessions will be in the library, Serson Hall.</p>
<p><strong><%= link_to "Buy the study guide from Amazon",
 "https://www.amazon.com/Luke-12-Week-Study-Knowing-Bible/dp/1433544695/ref=sr_1_1?keywords=luke%2C+jimmy+agan&qid=1571942315&sr=8-1>" %>
 </strong></p>
 <div class="mt100"></div>
<h2>Wednesday evenings, 6:30 p.m.</h2>

<p>Oct. 23 Introduction and planning.</p>
<p>Oct. 30  <em>Sing for Joy: The Savior is  Born</em></p>
<p>Nov. 6 <em>Salvation Comes with Power</em></p>
<p>Nov. 13  <em>Journey of the King, part 1</em></p>
<p>Nov. 20  <em>No class tonight</em></p>
<p>Dec. 4 <em>Journey of the King, part 2</em></p>
<p>Dec. 11  <em>Journey of the King, part 3</em></p>
<div class="mt100"></div>
<h2>Sunday mornings, 9 a.m.</h2>
<p>Oct. 27 Introduction and planning.</p>
<p>Nov. 10  <em>Sing for Joy: The Savior is  Born</em></p>
<p>Nov. 17 <em>Salvation Comes with Power</em></p>
<p>Nov. 24  <em>Journey of the King, part 1</em></p>
<p>Dec. 8 Journey of the King, part 2</em></p>
<p>Dec. 15  <em>Journey of the King, part 3</em></p>