# frozen_string_literal: true
<%= turbo_frame_tag dom_id(content) do %>
  <div class="content-section">
    <% if current_user&.role?("admin") %>
      <div class="admin-controls">
        <%= link_to "Edit", edit_page_content_path(content), class: "btn btn-sm btn-primary" %>
      </div>
    <% end %>
    
    <h2 class="mt-3"><%= content.title %></h2>
    <%= content.body.html_safe %>
  </div>
<% end %>
