<div class="main-body">
  <h1>Vestry Reports</h1>
    <section>
      <div class="create-vreport">
        <% if current_user.avatar.present? %>
        <%= cl_image_tag(current_user.avatar.path, { size: '110x120', 
          crop: :fill, gravity: :face, class: "floatleft" }) %>
        <% else %>
        <div class="default-avatar"><h5>Your<br>Picture<br>
        Here</h5>
        </div>
        <% end %><br><br>
          <%= link_to new_vreport_path, remote: true do %>
            <p><strong>Create a report</strong></p>
          <% end %>
      </div>
        <div id="vreport-form" style="display:none;">
        </div>   
    </section>
  <section>
    <div id="vreports">
      <%= render 'vreports' %>
    </div>
  </section>
</div><!--main-body-->

<div class="sidebar">
  <h2>About vestry reports</h2>
  <p>What this page is all about.</p>
</div><!--sidebar-->
