<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
     
       <h1><%= @vreport.title %></h1>
        <h2> By <%= @vreport.user.full_name.titleize %></h2>
            <p>
            <%= raw(@vreport.body) %>
            </p>
          <div class="mt100"></div>


<%= link_to "<< Back to Vestry Reports", vreports_path %>
    </div>
  </div>
</div>