<footer>
  <div class="row">
    <div class="col col-md-12 col-sm-12">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/New_StPaul_LogoWeb.jpg", { class: "image-center", width: '375' })%>

    <p class="footer">
      3901 Davis Blvd., Naples, Florida 34104
      239-643-0197 <br>Office hours 9 a.m. to 1 p.m. Monday-Friday<br>
        <a href="mailto:welcome@saintpaulsnaples.org">Send us an email</strong></a><br>
    <%= link_to "Need a map?", 'pages/directions' %></p>
    <h2><%= link_to image_tag("http://login.create.net/images/icons/user/facebook-b_130x50.png", class: 'image-center'),"https://www.facebook.com/St-Pauls-Episcopal-Church-376885279316133/" %></h2>
    
    </div>    
  </div>
  <%= debug(params) if Rails.env.development? %>
</footer>
