<footer>
  <div class="clearall">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/New_StPaul_LogoWeb.jpg", { class: "image-center", width: '275' })%>

    <h4 class="footer">
      3901 Davis Blvd. &nbsp;&nbsp; Naples, Florida 34104  &nbsp; &nbsp;
      239-643-0197 <br>Office hours 9 a.m. to 1 p.m. Monday-Friday<br>
        <a href="mailto:welcome@saintpaulsnaples.org">Send us an email</h4></a>
        <%= debug(params) if Rails.env.development? %>
  </div>
</footer>
