<div class="clearall">
<img class="image-center" src="https://s3.amazonaws.com/saintpaulsnaples/logos/New_StPaul_Logo.jpg" width="275px">
    <h3 class="footer">
      3901 Davis Blvd. &nbsp;&nbsp; Naples, Florida 34104  &nbsp; &nbsp;
      239-643-0197 <br>Office hours 9:30 a.m. to 1 p.m. Monday-Friday<br>
        <a href="mailto:welcome@saintpaulsnaples.org">Send us an email</h3></a></div>

