<div class="container">
<footer>
  <div class="row">
    <div class="col-12">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/New_StPaul_LogoWeb.jpg", { class: "image-center", width: "300" })%>

    <p class="footer">
      3901 Davis Blvd., Naples, Florida 34104
      239-643-0197 <br>Office hours 9 a.m. to 1 p.m. Monday-Friday<br>
      <%= link_to cl_image_tag("FindFB_ovw6ax.jpg", class: "image-center", width: "16%"), "https://www.facebook.com/St-Pauls-Episcopal-Church-376885279316133/" %>
        <a href="mailto:welcome@saintpaulsnaples.org">Send us an email</strong></a><br>
    <%= link_to "Need a map?", pages_directions_path %></p>
    
    
    </div>    
  </div>
  <%= debug(params) if Rails.env.development? %>
</footer>
</div>