<section id="donate">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="d-flex justify-content-around mb-3 text-white" style="background-color: #0d4884;">
          <div class="pt-3">
            <p><strong>SUPPORT ST. PAUL'S</strong>
        
            <%= link_to "DONATE NOW", "https://buy.stripe.com/4gw5o32ih7tn4004gh", class: "btn btn-primary" %>
            OR <%= link_to "RECURRING DONATION", new_pledge_path, class: "btn btn-primary" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><div class="clearfix"></div>
  <div class="container">
    <div class="d-flex align-content-center justify-content-center my-5">
      <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/New_StPaul_LogoWeb.jpg")%></div>
      <p class="text-center"><strong>
        3901 Davis Blvd., Naples, Florida 34104 &nbsp; 239-643-0197 &nbsp; Office hours 9 a.m. to 1 p.m. Monday-Friday</strong></p>
        <p class="text-center">
        <%= link_to "Need directions? Here is a map", pages_directions_path %> &nbsp;<a href="mailto:welcome@saintpaulsnaples.org">Send us an email</a></p>
    </div>
 