<section id="header>
  <div class="container">
  <div class="col-md-12 img-fluid my-2 d-flex justify-content-around">
    <div id="street-sign" class="row d-none d-md-block">
      <%= cl_image_tag("street-sign_emrjtx.jpg", width: "110", crop: "scale", alt: "street sign", 
          class: "d-block mx-auto") %>
    </div>
    <div id="logo" class="image-fluid text-center">
        
      <%= cl_image_tag("logos/New_StPaul_LogoWeb.jpg", alt: "logo", class: "img-fluid" ) %>
        <p class="tiny text-center">
          3901 Davis Blvd., two blocks east of Airport Road
        </p>
    </div>
    <div id="directions" class="row d-none d-md-block">
      <%= link_to cl_image_tag("googleMap_gdo2n6.jpg", width: "110", alt: "map", class:" d-block mx-auto"), 
        pages_directions_url %>
    </div>
  </div>
</section>
