<div class="mt30"></div>

<div class="header-row">
  <div class="road-sign">
    <%= cl_image_tag("freshSignage_a0oxfc.jpg", width: '110px') %>
  </div>
  <div class="main-logo">
    <%= cl_image_tag("St_Paul_Blue_Button_Logo_ksyj1x.jpg", width: "100%", :fetch_format => :auto) %>
    <h5 class="text-center">3901 Davis Boulevard, a couple of blocks east of Airport Road.<br> <%= link_to "Get directions", 
      'pages/directions' %> </h5>
  </div>
  <div class="shield">
    <%= cl_image_tag("tecShield_fpjf8p.png", width: '110px')%>
  </div>
</div>
