<div class="header">
  <div class="main-logo">
    <figure>
      <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/New_StPaul_LogoWeb.jpg", width: "100%", alt: "logo", class: "center-image") %>
      <figcaption class="text-center">
    3901 Davis Blvd., a couple of blocks east of Airport Rd
      </figcaption>
    </figure>
  </div><!-- main-logo -->
  
  <div class="road-sign">
    <%= cl_image_tag("street-sign_emrjtx", width: '110px') %>
  </div>
  
  <div class="map">
    <p><strong><%= link_to "Map", pages_directions_url %></strong></p>
  </div>
</div><!-- header-row -->
