<header>
  <div class="header">
    <div id="home-logo">
      <%= cl_image_tag("logos/New_StPaul_LogoWeb.jpg", { id: 'home-logo', width: '325' }) %>
    </div>
    <div id="menu-one"> 
    <button class="btn-custom" data-jq-dropdown="#faithdd">Faith</button>
    </div> 
    <div id="menu-two"> 
     <button class="btn-custom" data-jq-dropdown="#actiondd">Action</button>
    </div>
  </div>
</header>