<header>
  <div class="header">
    <div id="home-logo">
      <%= cl_image_tag("logos/New_StPaul_LogoWeb.jpg", { id: 'home-logo', width: '325' }) %>
    </div>
    
  <div class="underConstruction"><p>Much of this site is hours away from being fully functional. Please check back Thursday evening. --webmaster</p>
  </div>
  </div>
</header>