<header>
  <div class="header">
    <img id="home-logo" src="https://s3.amazonaws.com/saintpaulsnaples/logos/New_StPaul_Logo.jpg" width="325px">
      <h3 id="menu-four"><%= link_to "<< Return to Home Page", root_path %></h3>    
  </div>
</header>