<h3>Birthdays this week</h3>
  <% birthdays_this_week.each do |member| %>
    <p><%= member.first_name. titleize %> <%= member.last_name.titleize %>,
    <%= member.birthday.strftime("%B %-d") %></p> 
  <% end %>
  